{% extends "bases/base.html" %}
{% block title %}Выбор аналитического отчета{% endblock %}
{% block name_page %}Выбор аналитического отчета{% endblock name_page%}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td width="70%" style="vertical-align:center">
                <select class="form-control" name="combo_analytics_reports" style="width: 100%">
                    {% for item in name_reports_requests %}
                        <option> {{ item.name_report_request }}</option>
                    {% endfor %}
                </select>
            </td>
            <td style="vertical-align:center; padding-left: 0px">
                <button type="submit" class="btn btn-success" name="choose_analytic_report">Выбрать</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}