{% extends "bases/base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}
<h4>Авторизация</h4>
<form id ="add_form" method="POST">
    {% csrf_token %}
    <div class="col-4">
        <label>Логин: <font color="red">*</font></label>
        {{ form.username }}
        <label style="margin-top:+5px;">Пароль: <font color="red">*</font></label>
        {{ form.password }}
    </div>
    <button form="add_form" type="submit" class="btn btn-success mt-4">Войти</button>
</form>
{% endblock %}