{% extends "bases/base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<h4>Регистрация</h4>
<form id ="add_form" method="POST">
{% csrf_token %}
    <div class="col-4">
        <label>Логин:<font color="red">*</font></label>
        {{ form.username }}
        <label style="margin-top:10px">Пароль:<font color="red">*</font></label>
        {{ form.password }}
        <label style="margin-top:10px">Имя:</label>
        {{ form.first_name }}
        <label style="margin-top:10px">Фамилия:</label>
        {{ form.last_name }}
         <label style="margin-top:10px">email:</label>
        {{ form.email }}
    </div>
    <br>
    <p class="label_star"><i>Поля, обязательные для заполнения, отмечены <font color="red">*</font></i></p>
    <button form="add_form" type="submit" class="btn btn-success">Создать</button>
</form>
{% endblock %}
