{% extends "bases/base.html" %}

{% block title %}Формирование сводной справки - расчет{% endblock %}
{% block name_page %}Формирование сводной справки - расчет{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td colspan="3"><a href="/show_list_ssrs" title="Список сводных справок - расчет">Список сводных справок - расчет</a></td>
        </tr>
        <tr>
            <td width="21%">Введите наименование периода:</td>
            <td><input type="text" style='width:100%' name="name_period_ssr" required class="form-control"></td>
            <td colspan="2"><label title="На основании ССР в статусе «Утверждено»"><input type="checkbox" name="used_request_ssr" value="1" checked>  На основании текущих статусов заявок</label></td>
        </tr>
        <tr>
            <td>Выберите номер статьи Закона:</td>
            <td width="50%">
                <select style='width:100%' name="select_num_article" id="select_num_article" class="form-control">
                    <option>-----</option>
                    {% for item in obj_articles_law %}
                    <option>{{ item.num_article }} «{{ item.name_article }}»</option>
                    {% endfor %}
                </select>
            </td>
            <td width="10%">Выберите год</td>
            <td>
                <select style='width:100%' name="select_year_article" id="select_year_article" class="form-control">
                    <option>-----</option>
                    <option>2020</option>
                    <option>2021</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-success" name="create_ssr">Создать</button>
</form>

{% endblock %}