{% extends "bases/base.html" %}

{% block title %}Сводные справки - расчет{% endblock %}
{% block name_page %}Сводные справки - расчет{% endblock name_page%}

{% block content %}
<table class="table table-borderless">
  <tbody>
    <tr>
      <td><a href="/create_ssr" title="Сформировать сводную справку - расчет">Создать сводную справку - расчет</a></td>
    </tr>
    <tr>
      <td><a href="/show_list_ssrs" title="Список сводных справок - расчет">Список активных сводных справок - расчет</a></td>
    </tr>
    <tr>
      <td><a href="/show_removed_ssrs" title="Список удаленных сводных справок - расчет">Список удаленных сводных справок - расчет</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}