{% extends "bases/base.html" %}

{% block title %}Список сводных справок - расчет{% endblock %}
{% block name_page %}Список сводных справок - расчет{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="content_label_sort_ssrs" value='{{ content_label_sort_ssrs }}'
           id="content_label_sort_ssrs">
    <input type="hidden" name="selected_article" value='{{ selected_article }}' id="selected_article">
    <input type="hidden" name="selected_status" value='{{ selected_status }}' id="selected_status">

    <table class="table-borderless">
        <tbody>
        <tr>
            <td colspan="8"><a href="/create_ssr" title="Сформировать сводную справку - расчет">Создать сводную справку - расчет</a></td>
        </tr>
        <tr>
            <td width="6.5%" style="vertical-align:center;"><b>Порядок:</b></td>
            <td width="11%" style="vertical-align: center; position: relative; top: 5px;"><label
                    title="Отсортировать"><input type="checkbox" name="sort_ssrs" value="1" id="sort_ssrs" checked> По
                возрастанию</label></td>
            <td width="7%" style="vertical-align:center;"><b>№ статьи:</b></td>
            <td style="vertical-align:center;" width="11%">
                <select name="filter_article" style="width: 95%" id="filter_article">
                    <option>-----</option>
                    <option>8</option>
                    <option>23</option>
                </select>
            </td>
            <td width="5.5%" style="vertical-align:center;"><b>Статус:</b></td>
            <td style="vertical-align:center;" width="11%">
                <select name="filter_status" style="width: 100%" id="filter_status">
                    <option>-----</option>
                    <option>Принято</option>
                    <option>Черновик</option>
                </select>
            </td>
            <td style="vertical-align:bottom; width: 9%;">
                <button type="submit" class="btn btn-success" name="apply_ssr">Применить</button>
            </td>
            <td style="vertical-align:bottom; padding-left: -3px">
                <button type="submit" class="btn btn-success" name="clear_filter_ssr">Очистить</button>
        </tr>
        <tr>
            <td colspan="8">Всего: {{ count_record }}</td>
        </tr>
        </tbody>
    </table>
    <br>

    <table class="table table-hover" id="ssrs_table">
        <thead>
        <tr align="left">
            <th class="info text-center" style="vertical-align: middle;">№</th>
            <th width="25%" class="text-center">Наименование статьи закона</th>
            <th class="text-center">№ статьи закона</th>
            <th class="text-center">Наименование периода</th>
            <th class="text-center">Статус</th>
            <th class="text-center">Дата создания</th>
            <th class="text-center">Дата принятия</th>
            <th class="text-center">Действия</th>
        </tr>
        </thead>

        <tbody>
        {% for item in model_item %}
        <tr>
            <td style="vertical-align: middle;">{{ item.id }}</td>
            <td style="vertical-align: middle;">{{ item.f_articles_law.name_article }}</td>
            <td align="center" style="vertical-align: middle">{{ item.f_articles_law.num_article }}</td>
            <td align="center" style="vertical-align: middle">{{ item.name_period }}</td>

            {% if item.get_f_status_display == "Принято" %}
                <td align="center" style="background: #a6ddf5; color: #666666; vertical-align: middle;">{{ item.get_f_status_display }}</td>
            {% elif item.get_f_status_display == "Черновик" %}
                <td align="center" style="background: #dddddd; color: #666666; vertical-align: middle;">{{ item.get_f_status_display }}</td>
            {% endif %}

            <td align="center" style="vertical-align: middle">{{ item.data_create|date:'d.m.Y' }}</td>
            <td align="center" style="vertical-align: middle">{{ item.data_adopt|date:'d.m.Y' }}</td>
            <td align="center" style="vertical-align: middle">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Действия
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="show_ssr/{{item.id}}"
                           id="dropdown_show_ssr">Просмотр</a>

                        {% if item.get_f_status_display != "Принято" %}
                        <a class="dropdown-item" href="edit_ssr/{{item.id}}"
                           id="dropdown_edit_ssr">Изменить</a>
                        {% endif %}

                        <a class="dropdown-item" href="" data-toggle="modal"
                           data-target="#warning_delete_ssr" id="dropdown_delete_ssr" >Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="warning_delete_ssr" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите безвозвратно удалить эту сводную справку - расчет?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button class="delete_ssr btn btn-danger" formaction="delete_ssr">Да</button>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        {% if model_item.has_other_pages %}
        <ul class="navigation">
            {% if model_item.has_previous %}
            <li class="navigation"><a href="?page={{ model_item.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="navigation"><a>&laquo;</a></li>
            {% endif %}
            {% for i in model_item.paginator.page_range %}
            {% if model_item.number == i %}
            <li class="navigation"><a class="navigation {{ i }} ">{{ i }}</a></li>
            {% else %}
            <li class="navigation"><a class="navigation" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if users.has_next %}
            <li class="navigation"><a class="navigation" href="?page={{ model_item.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="navigation"><a class="navigation">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
    <input type="hidden" id="selected_td_ssrs" name="selected_td_ssrs">
</form>

{% endblock %}