{% extends "bases/base.html" %}
{% block title %}Прикрепить пользователя к организации{% endblock %}
{% block name_page %}Прикрепить пользователя к организации{% endblock name_page%}

{% block content %}
<form method="post">
    {% csrf_token %}
    <table class="table">
        <tbody>
        <tr>
            <td width="20%">Пользователь:</td>
            <td>
                <select name="f_user" id="f_user" style='width:80%'>
                    {% for item in f_user %}
                    <option>{{ item.user.username }} {{ item.user.first_name }} {{ item.user.last_name }} </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Организация:</td>
            <td>
                <select name="f_org" id="f_org" style='width:80%'>
                    {% for item in f_org %}
                    <option>{{ item.inn_org }} {{ item.full_name_org }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_add_user_in_org">Сохранить</button>

    <div class="modal fade" id="warning_add_user_in_org" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите прикрепить пользователя к организации?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_user_in_org">Да</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}