{% extends "bases/base.html" %}
{% block content %}

<h4><input type="button" class="button_round" onclick="history.back();" value="&#11013;"/>Добавить «Пользователя»</h4>

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {{ message }}
</div>
{% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <table class="table" border="0">
        <tbody>
            <tr>
                <td width="250">Логин:</td>
                <td>{{ form.login_user }}</td>
            </tr>
            <tr>
                <td width="250">Пароль:</td>
                <td><input type="password" id="password-input" name="password">
                    <label><input type="checkbox" class="password-checkbox"> Показать пароль</label>
                </td>
            </tr>
            <tr>
                <td width="250">Фамилия:</td>
                <td>{{ form.last_name_user }}</td>
            </tr>
            <tr>
                <td width="250">Имя:</td>
                <td>{{ form.first_name_user }}</td>
            </tr>
            <tr>
                <td width="250">Отчество:</td>
                <td>{{ form.patronymic_user }}</td>
            </tr>
            <tr>
                <td width="250">Тип пользователя:</td>
                <td>{{ form.f_type }}</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_save_user_system">Сохранить
    </button>

    <div class="modal fade" id="warning_save_user_system" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_user_system">Да</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}