{% extends "bases/base.html" %}
{% block content %}
<h4><input type="button" class="button_round" onclick="history.back();" value="&#11013;"/>Изменить пользователя
</h4>
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {{ message }}
</div>
{% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    <table class="table">
        <tbody>
        <tr>
            <td width="200">Логин:</td>
            <td><input type="text" name="login_user" maxlength="30" value="{{ model_item.login_user }}">
            </td>
        </tr>
        <tr>
            <td width="200">Пароль:</td>
                <td><input type="password" id="password-input" name="password" maxlength="30" value="{{ model_item.password_user }}">
                    <label><input type="checkbox" class="password-checkbox"> Показать пароль</label>
                </td>
        </tr>
        <tr>
            <td width="200">Фамилия:</td>
            <td><input type="text" name="last_name_user" maxlength="100" value="{{ model_item.last_name_user }}">
            </td>
        </tr>
        <tr>
            <td width="200">Имя:</td>
            <td><input type="text" name="first_name_user" maxlength="100" value="{{ model_item.first_name_user }}">
            </td>
        </tr>
        <tr>
            <td width="200">Отчество:</td>
            <td><input type="text" name="patronymic_user" maxlength="100" value="{{ model_item.patronymic_user }}">
            </td>
        </tr>
        <tr>
            <td width="200">Тип пользователя:</td>
            <td>
                <select name="f_type_user" id="f_type_user">
                    {% for item in f_type_user %}
                    <option>{{ item.name_type_user }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_user_system">Сохранить
    </button>

    <div class="modal fade" id="warning_user_system" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_change">Да</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="f_type_user_1" value="{{ model_item.f_type }}">
</form>
{% endblock %}