{% extends "bases/base.html" %}
{% block content %}
<h4><input type="button" class="button_round" onclick="history.back();" value="&#11013;"/>Поиск пользователя по организации
</h4>

<form method="POST">
    {% csrf_token %}
    <table class="table">
        <tbody>
        <tr>
            <td width="25%">Название организации:</td>
            <td>
                <select name="f_org" id="f_org">
                    {% for item in f_org %}
                    <option>{{ item.inn_org }} {{ item.full_name_org }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-success" name="find_users">Найти</button>
</form>
{% endblock %}