{% extends "bases/base.html" %}
{% block content %}

<form id="form_users_system" method="post">
    {% csrf_token %}
    <h4><input type="button" class="button_round" onclick="history.back();" value="&#11013;"/>Список пользователей, прикрепленных к организации
    </h4>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </div>

    {% endfor %}
    {% endif %}

    <table class="table" id="users_system_table">
        <thead>
        <tr align="left">
            <th>Пользователь</th>
            <th>Организация</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_item %}
        <tr>
            <td>{{ item.f_user.login_user }} {{ item.f_user.last_name_user }} {{ item.f_user.first_name_user }} {{ item.f_user.patronymic_user }}</td>
            <td>{{ item.f_org.inn_org }} {{ item.f_org.full_name_org }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}