{% extends "bases/base.html" %}

{% block content %}
<form id="form_users_system" method="post">
    {% csrf_token %}
    <h4><input type="button" class="button_round" onclick="history.back();" value="&#11013;"/>Список пользователей  "{{ name_org }}"
    </h4>

    <table class="table">
        <thead>
        <tr align="left">
            <th>Логин</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчетство</th>
            <th>Тип</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_users_by_org %}
        <tr>
            <td>{{ item.f_user.login_user }}</td>
            <td>{{ item.f_user.last_name_user }}</td>
            <td>{{ item.f_user.first_name_user }}</td>
            <td>{{ item.f_user.patronymic_user }}</td>
            <td>{{ item.f_user.f_type }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}