{% extends "bases/base.html" %}

{% block title %}Пользователи системы{% endblock %}
{% block name_page %}Пользователи системы{% endblock name_page%}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <table class="table">
        <tbody>
        <tr>
          <td><a href="/add_user_system">Добавить пользователя</a></td>
        </tr>
        <tr>
          <td><a href="/show_users_system">Список всех пользователей</a></td>
        </tr>
        <tr>
          <td><a href="/add_user_in_org">Добавить пользователя к организации</a></td>
        </tr>
        <tr>
          <td><a href="/show_users_in_org">Список пользователей, прикрепленных к организации</a></td>
        </tr>
        <tr>
          <td><a href="/search_users_by_org">Поиск пользователей по организации</a></td>
        </tr>
        </tbody>
    </table>
</form>

{% endblock %}