{% extends "bases/base.html" %}

{% block title %}Список пользователей{% endblock %}
{% block name_page %}Список пользователей{% endblock name_page%}

{% block content %}
<form id="form_users_system" method="post">
    {% csrf_token %}
    <table class="table" id="users_system_table">
        <thead>
        <tr align="left">
            <th class="info">id</th>
            <th>Логин</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>email</th>
            <th>Активность</th>
            <th colspan="2">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_item %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.first_name }}</td>
            <td>{{ item.email  }}</td>
            {% if item.is_active == True %}
            <td>Активен</td>
            {% else %}
            <td>Не активен</td>
            {% endif %}
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Действия
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="edit_user_system/{{item.id}}"
                           id="dropdown_user_system">Изменить</a>
                        <a class="dropdown-item" href="" data-toggle="modal"
                           data-target="#warning_delete_users_system">Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="warning_delete_users_system" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите безвозвратно удалить этого пользователя?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button class="delete_users_system btn btn-danger" formaction="delete_user_system">Да
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="selected_td_user_system" name="selected_td_user_system">
</form>
{% endblock %}