{% extends "bases/base.html" %}

{% block title %}Добавление субсидии{% endblock %}
{% block name_page %}Добавить «Субсидию»{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/show_subsidies"><label class="label_a_href" title="Перейти на страницу со списком субсидий">Список субсидий</label></a>
    <table class="table">
        <tbody>
            <tr>
                <td width="20%">Статья закона: <font color="red">*</font></td>
                <td colspan="3">
                    <select class="form-control" name="name_article" style="width: 100%">
                        <option>-----</option>
                        {% for item in model_article %}
                        <option>{{ item.name_article }} </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Отчетный период: <font color="red">*</font></td>
                <td width="30%">
                    <select class="form-control" name="report_period" id="report_period" style="width: 100%">
                        <option>-----</option>
                        {% for item in model_item %}
                         {% if item.year_sub == None %}
                            <option>{{ item.f_period }}</option>
                         {% else %}
                            <option>{{ item.f_period }} {{ item.year_sub }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Дата начала приема (район):</td>
                <td><input type="date" class="form-control" id="data_start_recive" name="data_start_recive"></td>
                <td width="20%" valign="middle">Дата окончания приема (район):</td>
                <td width="30%"><input type="date" class="form-control" id="data_end_recive" name="data_end_recive"></td>
            </tr>
            <tr>
                <td>Дата начала приема (город):</td>
                <td><input type="date" class="form-control" id="data_start_recive_city" name="data_start_recive_city"></td>
                <td width="20%" valign="middle">Дата окончания приема (город):</td>
                <td width="30%"><input type="date" class="form-control" id="data_end_recive_city" name="data_end_recive_city"></td>
            </tr>

        </tbody>
    </table>
    <p class="label_star"><i>Поля, обязательные для заполнения, отмечены <font color="red">*</font></i></p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_save_subsidy">Сохранить
    </button>

    <div class="modal fade" id="warning_save_subsidy" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_subsidy">Да</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}