{% extends "bases/base.html" %}

{% block title %}Редактирование субсидии{% endblock %}
{% block name_page %}Редактировать «Субсидию»{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/show_subsidies"><label class="label_a_href" title="Перейти на страницу со списком субсидий">Список субсидий</label></a>
    <a href="/add_subsidy"><label class="label_a_href" title="Перейти на страницу добавления субсидии">Добавить «Субсидию»</label></a>

    <table class="table">
        <tbody>
            <tr>
                <td>Статья закона: <font color="red">*</font></td>
                <td colspan="3">
                    <select name="article_law_select" id="article_law_select" style="width:65%">
                        {% for item in model_articles_law %}
                            {% if model_item.f_article_law.name_article == item.name_article %}
                                <option selected> {{ item.name_article }}</option>
                            {% else %}
                                <option>{{ item.name_article }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Отчетный период: <font color="red">*</font></td>
                <td colspan="3">
                    <select name="reporting_periods_select" id="reporting_periods_select" style="width:65%">
                        {% for item in model_reporting_periods %}
                            {% if model_item.f_report_period.f_period.name_period == item.f_period.name_period and model_item.f_report_period.year_sub == item.year_sub %}
                                <option selected>{{ item.f_period.name_period }} {{ item.year_sub }}</option>
                            {% else %}
                                <option>{{ item.f_period.name_period }} {{ item.year_sub }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td width="21%">Дата начала приема (для района):</td>
                <td width="10%"><input type="date" style='width:100%' id="data_start_recive_region" name="data_start_recive_region" value="{{ model_item.data_start_recive|date:'Y-m-d' }}"></td>
                <td width="23%">Дата окончания приема (для района):</td>
                <td><input type="date" style='width:32%' id="data_end_recive_region" name="data_end_recive_region" value="{{ model_item.data_end_recive|date:'Y-m-d' }}"></td>
            </tr>
            <tr>
                <td>Дата начала приема (для города):</td>
                <td><input type="date" style='width:100%' id="data_start_recive_city" name="data_start_recive_city" value="{{ model_item.data_start_recive_city|date:'Y-m-d' }}"></td>
                <td>Дата окончания приема (для города):</td>
                <td><input type="date" style='width:32%' id="data_end_recive_city" name="data_end_recive_city" value="{{ model_item.data_end_recive_city|date:'Y-m-d' }}"></td>
            </tr>
        </tbody>

    </table>
    <p class="label_star"><i>Поля, обязательные для заполнения, отмечены <font color="red">*</font></i></p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_save_subsidy">Сохранить
    </button>

    <div class="modal fade" id="warning_save_subsidy" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_subsidy_edit">Да</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}