{% extends "bases/base.html" %}

{% block title %}Список субсидий{% endblock %}
{% block name_page %}Список субсидий{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список
        справочников</label></a>
    <a href="/add_subsidy"><label class="label_a_href" title="Перейти на страницу добавления субсидии">Добавить
        «Субсидию»</label></a>
    <table class="table" id="subsifies_table">
        <thead>
        <tr align="left">
            <th class="info" style="display:none;">id</th>
            <th width="40%">Статья закона</th>
            <th class="text-center">Отчетный период</th>
            <th class="text-center">Даты приема для района</th>
            <th class="text-center">Даты приема для города</th>
            <th class="text-center">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_item %}
        <tr>
            <td style="display:none;">{{ item.id }}</td>
            <td >{{ item.f_article_law }}</td>
            {% if item.f_report_period.year_sub == None %}
            <td align="center">{{ item.f_report_period.f_period }}</td>
            {% else %}
            <td align="center">{{ item.f_report_period.f_period }} {{ item.f_report_period.year_sub }}</td>
            {% endif %}

            {% if item.data_start_recive == None and item.data_end_recive == None %}
            <td align="center">Данные не указаны</td>
            {% else %}
            <td align="center">с {{ item.data_start_recive|date:'d.m.Y' }} по {{ item.data_end_recive|date:'d.m.Y' }}</td>
            {% endif %}

            {% if item.data_start_recive_city == None and item.data_end_recive_city == None %}
            <td align="center">Данные не указаны</td>
            {% else %}
            <td align="center">с {{ item.data_start_recive_city|date:'d.m.Y' }} по {{ item.data_end_recive_city|date:'d.m.Y' }}</td>
            {% endif %}
            <td align="center">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Действия
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="edit_subsidies/{{item.id}}"
                           id="dropdown_subsidies">Изменить</a>
                        <a class="dropdown-item" href="" data-toggle="modal"
                           data-target="#warning_delete_subsidies">Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Пагинация -->
    <nav aria-label="Page navigation example">
        {% if model_item.has_other_pages %}
        <ul class="pagination">
            {% if model_item.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ model_item.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="disabled page-link"><span>&laquo;</span></li>
            {% endif %}

            {% for i in model_item.paginator.page_range %}
            {% if model_item.number == i %}
            <li class="active page-link"><span><b>{{ i }}</b><span class="sr-only">(current)</span></span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if users.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ model_item.next_page_number }}">&laquo;</a>
            {% else %}
            <li class="disabled page-link"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>

    <!-- Модальное окно -->
    <div class="modal fade" id="warning_delete_subsidies" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите безвозвратно удалить эту субсидию?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button class="delete_subsidies btn btn-danger" formaction="delete_subsidies">Да
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="selected_td_subsidies" name="selected_td_subsidies">
</form>

{% endblock %}