{% extends "bases/base.html" %}

{% block title %}Редактирование организации{% endblock %}
{% block name_page %}Редактирование «Организации»{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/show_organization"><label class="label_a_href" title="Перейти на страницу со списком организаций">Список организаций</label></a>
    <a href="/add_organization"><label class="label_a_href" title="Перейти на страницу добавления организации">Добавить "Организацию"</label></a>
    <table class="table" border="0">
        <tbody>
        <tr>
            <td width="21%">Полное название организации: <font color="red">*</font></td>
            <td colspan="5"><input type="text" name="full_name_org" maxlength="500" style='width:100%' value="{{ model_item.full_name_org }}"></td>
        </tr>
        <tr>
            <td>Сокращенное название организации: <font color="red">*</font></td>
            <td colspan="5"><input type="text" name="short_name_org" maxlength="120" style='width:100%' value="{{ model_item.short_name_org }}"></td>
        </tr>
        <tr>
            <td>Адрес: <font color="red">*</font></td>
            <td colspan="5"><input type="text" name="adress_org" maxlength="500" style='width:100%' value="{{ model_item.adress_org }}"></td>
        </tr>
        <tr>
            <td>ИНН: <font color="red">*</font></td>
            <td><input name = "inn_org" type="text" style='width:100%' maxlength="13" value="{{ model_item.inn_org }}"></td>
            <td>ОКТМО: <font color="red">*</font></td>
            <td><input name = "oktmo_org" type="text" style='width:100%' maxlength="11" value="{{ model_item.oktmo_org }}"></td>
            <td>ОКПО: <font color="red">*</font></td>
            <td><input name = "okpo_org" type="text" style='width:100%' maxlength="10" value="{{ model_item.okpo_org }}"></td>
        </tr>

        <tr>
            <td>Район регистрации: <font color="red">*</font></td>
            <td>
                <select style='f_reg_area_1:100%' name="f_reg_area" id="f_reg_area">
                    {% for item in f_adress_org %}
                    <option>{{ item.name_area }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>Телефон:</td>
            <td><input id="phone" name = "phone_org" type="text" style='width:100%' value="{{ model_item.phone_org }}"></td>
            <td>Email:</td>
            <td><input id="email_org" name = "email_org" type="text" style='width:100%' value="{{ model_item.email_org }}"></td>
        </tr>

        <tr>
            <td>Номер расчетного счета:</td>
            <td><input name = "account_number_org" type="text" style='width:100%' maxlength="20" value="{{ model_item.account_number_org }}"></td>
            <td>Банк:</td>
            <td colspan="3">
                <select style='width:100%' name="f_bank_name" id="f_bank_name">
                    <option>-----</option>
                    {% for item in f_bank_org %}
                    <option>{{ item.bik_bank }} {{ item.name_bank }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td>Тип организации: <font color="red">*</font></td>
            <td colspan="2">
                <select style='width:100%' name = "f_name_type_org" id="f_name_type_org">
                    {% for item in f_type_org %}
                    <option>{{ item.name_type_org }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>Правоустанавливающий документ:</td>
            <td colspan="2"><input name = "title_document_org" type="text" style='width:100%' maxlength="600" value="{{ model_item.title_document_org }}"></td>
        </tr>
        <tr>
            <td>ФИО руководителя: <font color="red">*</font></td>
            <td colspan="2"><input name = "fio_manager_org" type="text" style='width:100%' max_length=200 value="{{ model_item.fio_manager_org }}"></td>
            <td>ФИО руководителя в родительном падеже:</td>
            <td colspan="2"><input name = "fio_rod_manager_org" type="text" style='width:100%' max_length=200 value="{{ model_item.fio_rod_manager_org }}"></td>
        </tr>
        </tbody>
    </table>
    <p class="label_star"><i>Поля, обязательные для заполнения, отмечены <font color="red">*</font></i></p>

    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_save_organization">Сохранить
    </button>
    <div class="modal fade" id="warning_save_organization" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_change">Да</button>
                </div>
            </div>
        </div>
    </div>
 <input type="hidden" id="f_reg_area_1" value="{{ model_item.f_reg_area }}">
 <input type="hidden" id="bik_selected_bank" value="{{ bik_selected_bank }}">
 <input type="hidden" id="name_selected_bank" value="{{ name_selected_bank }}">
 <input type="hidden" id="f_name_type_org_1" value="{{ model_item.f_type }}">
</form>

{% endblock %}