{% extends "bases/base.html" %}

{% block title %}Просмотр организации{% endblock %}
{% block name_page %}Просмотр «Организации»{% endblock name_page %}

{% block content %}
<form method="POST">
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/show_organization"><label class="label_a_href" title="Перейти на страницу со списком организаций">Список организаций</label></a>
    <a href="/add_organization"><label class="label_a_href" title="Перейти на страницу добавления организации">Добавить "Организацию"</label></a>
    {% csrf_token %}
    <table class="table table-hover" border="0">
        <tbody>
        <tr>
            <td width="30%"><b>Полное название организации:</b></td>
            <td colspan="5">{{ model_item.full_name_org }}</td>
        </tr>
        <tr>
            <td><b>Сокращенное название организации:</b></td>
            <td colspan="5">{{ model_item.short_name_org }}</td>
        </tr>
        <tr>
            <td><b>Адрес:</b></td>
            <td colspan="5">{{ model_item.adress_org }}</td>
        </tr>
        <tr>
            <td><b>ИНН:</b></td>
            <td>{{ model_item.inn_org }}</td>
        </tr>
        <tr>
            <td><b>ОКТМО:</b></td>
            <td>{{ model_item.oktmo_org }}</td>
        </tr>
        <tr>
            <td><b>ОКПО:</b></td>
            <td>{{ model_item.okpo_org }}</td>
        </tr>
        <tr>
            <td><b>Район регистрации:</b></td>
            <td>{{ model_item.f_reg_area }}</td>
        </tr>

        <tr>
            <td><b>Телефон:</b></td>
            <td>{{ model_item.phone_org }}</td>
        </tr>
            <td><b>Email:</b></td>
            <td>{{ model_item.email_org }}</td>
        <tr>
            <td><b>Номер расчетного счета:</b></td>
            <td>{{ model_item.account_number_org }}</td>
        </tr>
        <tr>
            <td><b>Банк:</b></td>
            {% if bik_selected_bank == None %}
            <td colspan="3"></td>
            {% else %}
            <td colspan="3">{{ bik_selected_bank }} {{ name_selected_bank }}</td>
            {% endif %}
        </tr>
            <td><b>Тип организации:</b></td>
            <td colspan="2">{{ model_item.f_type }}</td>
        <tr>
            <td><b>Правоустанавливающий документ:</b></td>
            <td colspan="2">{{ model_item.title_document_org }}</td>
        </tr>
        <tr>
            <td><b>ФИО руководителя:</b></td>
            <td colspan="2">{{ model_item.fio_manager_org }}</td>
        </tr>
        <tr>
            <td><b>ФИО руководителя в родительном падеже:</b></td>
            <td colspan="2">{{ model_item.fio_rod_manager_org }}</td>
        </tr>
        </tbody>
    </table>
</form>

{% endblock %}