{% extends "bases/base.html" %}

{% block title %}Реестр СХП{% endblock %}
{% block name_page %}Реестр СХП{% endblock name_page %}

{% block content %}
<form id="form_organizations" method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список
        справочников</label></a>
    <a href="/add_organization"><label class="label_a_href" title="Перейти на страницу добавления организации">Добавить
        "Организацию"</label></a>

    <table class="table table-borderless">
        <tr>
            <td width="50%" style="padding: 0px; padding-left: 12px;"><input type="text" style="width:100%;" size="80%" placeholder="Введите ИНН или название организации..." name="name_organization" id="name_organization" value="{{ full_name_org }}"></td>
            <td style="padding: 0px; padding-left: -10px;"><button type="submit" class="btn btn-success" name="search_organization">Найти</button></td>
        </tr>
    </table>

    <table class="table table-hover" id="organizations_table">
        <thead>
        <tr align="left">
            <th class="info" style="display:none;">id</th>
            <th>ИНН</th>
            <th width="40%">Полное название организации</th>
            <th>Район регистрации</th>
            <th>ФИО руководителя</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_item %}
        <tr>
            <td style="display:none;">{{ item.id }}</td>
            <td>{{ item.inn_org }}</td>
            <td>{{ item.full_name_org }}</td>
            <td>{{ item.f_reg_area }}</td>
            <td>{{ item.fio_manager_org }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Действия
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="show_selected_organization/{{item.id}}"
                           id="dropdown_show_selected_organization">Просмотр</a>
                        <a class="dropdown-item" href="edit_organization/{{item.id}}" id="dropdown_edit_organization">Изменить</a>
                        <a class="dropdown-item" href="" data-toggle="modal" data-target="#warning_delete_organization">Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Пагинация -->
    <nav aria-label="Page navigation example">
        {% if model_item.has_other_pages %}
        <ul class="pagination">
            {% if model_item.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ model_item.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="disabled page-link"><span>&laquo;</span></li>
            {% endif %}

            {% for i in model_item.paginator.page_range %}
            {% if model_item.number == i %}
            <li class="active page-link"><span><b>{{ i }}</b><span class="sr-only">(current)</span></span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if users.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ model_item.next_page_number }}">&laquo;</a>
            {% else %}
            <li class="disabled page-link"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>

    <div class="modal fade" id="warning_delete_organization" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите безвозвратно удалить эту организацию?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button class="delete_organization btn btn-danger" formaction="delete_organization">Да
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="selected_td_organization" name="selected_td_organization">
</form>

{% endblock %}