{% extends "bases/base.html" %}

{% block title %}Сводная справка - расчет{% endblock %}
{% block name_page %}Сводная справка - расчет по статье «{{ obj_ssr.f_articles_law.name_article }}» № {{ obj_ssr.id }} {% endblock name_page %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#nesvaska_ssr_data_ssr_show">Сводная справка - расчет</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#nesvaska_ssr_history_ssr">История изменений</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="nesvaska_ssr_data_ssr_show">
            <a href="{{ STATIC_URL }}/media{{ obj_ssr.excel_document_path }}" download=""
               title="Скачать сохраненную сводную справку - расчет в формате *.xlsx">Скачать в Excel</a>
            <a href="/edit_ssr/{{obj_ssr.id}}"><label class="label_a_href" title="Изменить сводную справку - расчет">Изменить
                сводную справку - расчет</label></a>
            <a href="/show_list_ssrs"><label class="label_a_href"
                                             title="Перейти на страницу со списком сводных справок - расчет">Список
                сводных справок - расчет</label></a>

            <center>{{ name_title|linebreaks }}</center>
            <div style="overflow: auto;">
                <table class="table table-bordered">
                    <tbody>
                    <tr align="center">
                        <td rowspan="2">Наименование муниципального района или городского округа</td>
                        <td rowspan="2">Наименование получателя субсидии</td>
                        <td rowspan="2">Наименование группы сельскохозяйственных культур</td>
                        <td rowspan="2">Посевная площадь сельскохозяйственных культур, га</td>
                        <td rowspan="2">Ставка субсидии, рублей на 1 гектар</td>
                        <td rowspan="2">Посевная площадь сельскохозяйственных культур, отраженная в проектно-сметной
                            документации при проведении работ по фосфоритованию и (или) гипсованию посевных площадей, га
                        </td>
                        <td rowspan="2">k</td>
                        <td rowspan="2">Посевная площадь сельскохозяйственных культур, в отношении которых
                            осуществляется страхование, га
                        </td>
                        <td rowspan="2">kст</td>
                        <td rowspan="2">Потребность в субсидии, рублей</td>
                        <td colspan="3">В том числе за счет средств федерального бюджета, рублей</td>
                        <td colspan="3">В том числе за счет средств краевого бюджета, рублей</td>
                    </tr>
                    <tr align="center">
                        <td>Расчетная сумма субсидии</td>
                        <td>Сумма субсидии, фактически предоставленная с начала года</td>
                        <td>Сумма субсидии, причитающаяся к выплате</td>
                        <td>Расчетная сумма субсидии</td>
                        <td>Сумма субсидии, фактически предоставленная с начала года</td>
                        <td>Сумма субсидии, причитающаяся к выплате</td>
                    </tr>
                    <tr align="center">
                        <td style="padding: 0px">1</td>
                        <td style="padding: 0px">2</td>
                        <td style="padding: 0px">3</td>
                        <td style="padding: 0px">4</td>
                        <td style="padding: 0px">5</td>
                        <td style="padding: 0px">6</td>
                        <td style="padding: 0px">7</td>
                        <td style="padding: 0px">8</td>
                        <td style="padding: 0px">9</td>
                        <td style="padding: 0px">10</td>
                        <td style="padding: 0px">11</td>
                        <td style="padding: 0px">12</td>
                        <td style="padding: 0px">13</td>
                        <td style="padding: 0px">14</td>
                        <td style="padding: 0px">15</td>
                        <td style="padding: 0px">16</td>
                    </tr>
                    {% for item in obj_nesvaska_ssr %}
                    <tr>
                        <td rowspan="3" style="vertical-align: middle;"> {{ item.name_region }}</td>
                        <td rowspan="3" style="vertical-align: middle;"> {{ item.name_organization }}</td>

                        <td style="vertical-align: middle;">{{ item.name_group_cereals }}</td>
                        <td align="center" style="vertical-align: middle;">{{ item.area_cereals|floatformat:3}}</td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.rate_cereals }}</span></td>
                        <td align="center" style="vertical-align: middle;">{{ item.area_proekt_cereals|floatformat:3 }}
                        </td>
                        <td align="center" style="vertical-align: middle;"></td>
                        <td align="center" style="vertical-align: middle;">{{ item.area_insurance_cereals|floatformat:3 }}
                        </td>
                        <td align="center" style="vertical-align: middle;"></td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.need_subsidy_cereals }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_estimated_cereals_f}}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_provided_cereals_f }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_due_cereals_f }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_estimated_cereals_k }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_provided_cereals_k }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_due_cereals_k }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">{{ item.name_group_vegetables }}</td>
                        <td align="center" style="vertical-align: middle;">{{ item.area_vegetables|floatformat:3}}</td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.rate_vegetables }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;">{{ item.area_proekt_vegetables|floatformat:3 }}
                        </td>
                        <td align="center" style="vertical-align: middle;"></td>
                        <td align="center" style="vertical-align: middle;">{{ item.area_insurance_vegetables|floatformat:3 }}
                        </td>
                        <td align="center" style="vertical-align: middle;"></td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.need_subsidy_vegetables }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_estimated_vegetables_f}}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_provided_vegetables_f }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_due_vegetables_f }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_estimated_vegetables_k }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_provided_vegetables_k }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_due_vegetables_k }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">{{ item.name_group_potato }}</td>
                        <td align="center" style="vertical-align: middle;">{{ item.area_potato|floatformat:3}}</td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.rate_potato }}</span></td>
                        <td align="center" style="vertical-align: middle;">{{ item.area_proekt_potato|floatformat:3 }}
                        </td>
                        <td align="center" style="vertical-align: middle;"></td>
                        <td align="center" style="vertical-align: middle;">{{ item.area_insurance_potato|floatformat:3 }}
                        </td>
                        <td align="center" style="vertical-align: middle;"></td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.need_subsidy_potato }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_estimated_potato_f}}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_provided_potato_f }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_due_vpotato_f }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_estimated_potato_k }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_provided_potato_k }}</span>
                        </td>
                        <td align="center" style="vertical-align: middle;"><span class='price'>{{ item.sum_due_vpotato_k }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr bgcolor="#dddddd">
                        <td colspan=2><b>Итого:</b></td>
                        <td align="center"><b>X</b></td>
                        <td align="center"><b>{{ total_area|floatformat:3 }}</b></td>
                        <td align="center"><b>X</b></td>
                        <td align="center"><b>{{ total_area_proekt|floatformat:3 }}</b></td>
                        <td align="center"><b>X</b></td>
                        <td align="center"><b>{{ total_area_insurance|floatformat:3 }}</b></td>
                        <td align="center"><b>X</b></td>
                        <td align="center"><b><span class='price'>{{ total_need }}</span></b></td>
                        <td align="center"><b><span class='price'>{{ total_estimated_f }}</span></b></td>
                        <td align="center"><b><span class='price'>{{ total_provided_f }}</span></b></td>
                        <td align="center"><b><span class='price'>{{ total_due_f }}</span></b></td>
                        <td align="center"><b><span class='price'>{{ total_estimated_k }}</span></b></td>
                        <td align="center"><b><span class='price'>{{ total_provided_k }}</span></b></td>
                        <td align="center"><b><span class='price'>{{ total_due_k }}</span></b></td>
                    </tr>
                </table>
            </div>
            <table class="table table-borderless">
                <tr>
                    <td colspan="2">Заместитель министра сельского хозяйства<br>и торговли Красноярского края</td>
                    <td>{{ obj_ssr.fio_deputy_minister}}</td>
                </tr>
                <tr>
                    <td colspan="3">«__» ______________ {{ obj_ssr.data_create|date:'Y' }} г.</td>
                </tr>
                <tr>
                    <td colspan="3">{{ obj_ssr.fio_spec_oib}}, {{ obj_ssr.phone_spec_oib }}</td>
                </tr>
            </table>
        </div>

        <div class="tab-pane fade" id="nesvaska_ssr_history_ssr">
            <table class="table">
                <tbody>
                <tr>
                    <td>{{ obj_ssr.change_history|linebreaks }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}