{% extends "bases/base.html" %}

{% block title %}Список наименований отчетных периодов{% endblock %}
{% block name_page %}Список наименований отчетных периодов{% endblock name_page %}

{% block content %}
<form id="form_reporting_periods" method="post">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/add_reporting_period"><label class="label_a_href" title="Перейти на страницу добавления наименования отчетного периода">Добавить "Наименование отчетного периода"</label></a>

    <table class="table" id="reporting_periods_table">
        <thead>
        <tr align="left">
            <th class="info" style="display:none;">id</th>
            <th width="30%">Наименование отчетного периода</th>
            <th colspan="2">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_item %}
        <tr>
            <td style="display:none;">{{ item.id }}</td>
            <td>{{ item.name_period }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Действия
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="edit_reporting_period/{{item.id}}"
                           id="dropdown_reporting_period">Изменить</a>
                        <a class="dropdown-item" href="" data-toggle="modal"
                           data-target="#warning_delete_reporting_period">Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="warning_delete_reporting_period" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите безвозвратно удалить этот отчетный период?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button class="delete_reporting_period btn btn-danger" formaction="delete_reporting_period">Да
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="selected_td_reporting_period" name="selected_td_reporting_period">

</form>
{% endblock %}