{% extends "bases/base.html" %}

{% block title %}Добавление района регистрации{% endblock %}
{% block name_page %}Добавить «Район регистрации»{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/show_registration_area"><label class="label_a_href" title="Перейти на страницу со списком районов регистрации">Список районов регистрации</label></a>
    <table class="table">
        <tbody>
            <tr>
                <td width="30%">Наименование района регистрации: <font color="red">*</font></td>
                <td>{{ form.name_area }}</td>
            </tr>
            <tr>
                <td>Тип района регистрации: <font color="red">*</font></td>
                <td>{{ form.type_area }}</td>
            </tr>

        </tbody>
    </table>
    <p class="label_star"><i>Поля, обязательные для заполнения, отмечены <font color="red">*</font></i></p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_save_registration_area">Сохранить
    </button>

    <div class="modal fade" id="warning_save_registration_area" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_registration_area">Да</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}