{% extends "bases/base.html" %}

{% block title %}Редактирование района регистрации{% endblock %}
{% block name_page %}Редактирование района регистрации{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}

    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/show_registration_area"><label class="label_a_href" title="Перейти на страницу со списком районов регистрации">Список районов регистрации</label></a>
    <a href="/add_registration_area"><label class="label_a_href" title="Перейти на страницу добавления района регистрации">Добавить "Район регистрации"</label></a>
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td width="30%" style="vertical-align: middle"><label>Наименование района регистрации:<font color="red">*</font></label></td>
            <td width="30%" style="vertical-align: middle"><input type="text" class="form-control" name="name_area" id="name_area" maxlength="200" size="50" value="{{ model_item.name_area }}" style="width: 100%">
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Тип района регистрации:<font color="red">*</font></td>
            <td>
                <select class="form-control" name="type_area_select" id="type_area_select" >
                    {% for item in area_variant %}
                    {% if model_item.get_type_area_display == item %}
                    <option selected> {{ item }}</option>
                    {% else %}
                    <option>{{ item }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <p class="label_star"><i>Поля, обязательные для заполнения, отмечены <font color="red">*</font></i></p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_registration_area" style="margin-top: -5px;">Сохранить
    </button>

    <div class="modal fade" id="warning_registration_area" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_change">Да</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}