{% extends "bases/base.html" %}

{% block title %}Список районов регистрации{% endblock %}
{% block name_page %}Список районов регистрации{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/add_registration_area"><label class="label_a_href" title="Перейти на страницу добавления района регистрации">Добавить "Район регистрации"</label></a>
    <table class="table" id="registration_area_table">
        <thead>
        <tr align="left">
            <th class="info" style="display:none;">id</th>
            <th width="25%">Район регистрации</th>
            <th width="20%">Тип района регистрации</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_item %}
        <tr>
            <td style="display:none;">{{ item.id }}</td>
            <td>{{ item.name_area }}</td>
            <td>{{ item.get_type_area_display  }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Действия
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="edit_registration_area/{{item.id}}"
                           id="dropdown_edit_registration_area">Изменить</a>
                        <a class="dropdown-item" href="" data-toggle="modal"
                           data-target="#warning_delete_registration_area">Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="warning_delete_registration_area" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите безвозвратно удалить этот район регистрации?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button class="delete_registration_area btn btn-danger" formaction="delete_registration_area">Да
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="selected_td_registration_area" name="selected_td_registration_area">
</form>
{% endblock %}