{% extends "bases/base.html" %}
{% block title %}Создание заявки{% endblock %}
{% block name_page %}Создание заявки{% endblock name_page%}
{% block content %}
<form id="form_eight" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="month_next" value='{{ month_next }}'>
    <input type="hidden" name="subsidies_obj" value='{{ subsidies_obj }}'>
    <input type="hidden" name="rate_cows" value='{{ rate_cows }}' id="rate_cows">
    <input type="hidden" name="rate_goats" value='{{ rate_goats }}' id="rate_goats">
    <input type="hidden" name="first_in_group" value='{{ first_in_group }}' id="first_in_group">
    <input type="hidden" name="id_requests_eight_subs_exists" value='{{ id_requests_eight_subs_exists }}' id="id_requests_eight_subs_exists">
    <input type="hidden" name="current_year" value='{{ current_year }}' id="current_year">
    <input type="hidden" name="year_report" value='{{ subsidies_obj.f_report_period.year_sub }}' id="year_report">
    <input type="hidden" name="month_report" value='{{ subsidies_obj.f_report_period.f_period.name_period }}'>


    <h4>{{ subsidies_obj.f_article_law.name_article }} за {{ subsidies_obj.f_report_period.f_period.name_period }} {{ subsidies_obj.f_report_period.year_sub }} г.</h4>
    <div id="statement">
        <h4>Заявление</h4>
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>3. Уведомление об отказе в приеме к рассмотрению документов</td>
                <td>{{ form_eight_subs.three_point }}</td>
            </tr>
            <tr>
                <td>4. В случае принятия решения об отказе в предоставлении субсидии уведомление об отказе в предоставлении
                    субсидии
                </td>
                <td>{{ form_eight_subs.fourth_point }}</td>
            </tr>
            <tr>
                <td>5. В случае принятия решения о предоставлении субсидии проект соглашения о предоставлении субсидии</td>
                <td>{{ form_eight_subs.fifth_point }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4>Общая информация</h4>
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td colspan="3" valign="top">
                <label>Общее количество скота (кроме птицы) на первое число месяца подачи заявления в условных
                    головах </label>
            </td>
            <td>
                <input type="number" min="0" step="1" id="num_total" name="num_total" value="0" style='width:100%' class="form-control">
            </td>
        </tr>
        <tr>
            <td colspan="3">Был лейкоз на «01» {{ month_next }} {{ current_year }}?</td>
            <td>
                <select name="leukemia_KRS" id="leukemia_KRS" style='width:100%' class="form-control">
                    <option>Был лейкоз</option>
                    <option>Не было лейкоза</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="3" valign="top">Карантин и иные ограничения, направленные на предотвращение распространения и ликвидации
                очагов по лейкозу крупного рогатого скота:
            </td>
            <td>
                <select name="quarantine" id="quarantine" style='width:100%' class="form-control">
                    <option>Установлен</option>
                    <option>Не установлен</option>
                </select>
            </td>
        </tr>
        <tr>
            <td width="25%">
                <label id="label_quarantine_establish_1">Дата установления карантина и иных ограничений:</label>
            </td>
            <td width="25%">
                <input type="date" id="data_quarantine_establish_1" name="data_quarantine_establish_1" style='width:100%' class="form-control"/>
            </td>
            <td width="25%">
                <label id="label_quarantine_establish_2">Дата снятия карантина и иных ограничений:</label>
            </td>
            <td width="25%">
                <input type="date" id="data_quarantine_establish_2" name="data_quarantine_establish_2" style='width:100%' class="form-control"/>
            </td>
        </tr>
        </tbody>
    </table>

    <h4>Производство и реализация коровьего молока</h4>
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td width="33%" valign="top">
                <label>Поголовье коров на 01.01.{{ current_year }} года предоставления субсидии</label>
            </td>
            <td width="33%" valign="top">
                <label>Поголовье коров на «01» {{ month_next }} {{ current_year }} года (1-е число месяца, следующего за
                    отчетным периодом)</label>
            </td>
            <td width="33%" valign="top">
                <label>Количество произведенного и реализованного коровьего молока в физическом весе, в том числе
                    отгруженного на собственную переработку, за отчетный период (тонн)</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" min="0" step="1" id="num_begin_year_cows" name="num_begin_year_cows" value="0" style='width:100%' class="form-control">
            </td>
            <td>
                <input type="number" min="0" step="1" id="num_begin_month_cows" name="num_begin_month_cows" value="0" style='width:100%' class="form-control">
            </td>
            <td>
                <input type="number" min="0.000" step="0.001" id="amount_milk_cows" name="amount_milk_cows"
                       value="0.000" style='width:100%' class="form-control">
            </td>
        </tr>
        </tbody>
    </table>

    <h4>Производство и реализация козьего молока</h4>
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td width="50%">
                <label>Поголовье коз на «01» {{ month_next }} {{ current_year }} года предоставления субсидии</label>
            </td>
            <td width="50%">
                <label>Количество произведенного и реализованного и (или) отгруженного на собственную переработку
                    козьего молока за отчетный период в физическом весе (тонн)</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" min="0" step="1" id="num_begin_year_goats" name="num_begin_year_goats" value="0" style='width:100%' class="form-control">
            </td>
            <td>
                <input type="number" min="0.000" step="0.001" id="amount_milk_goats" name="amount_milk_goats"
                       value="0.000" style='width:100%' class="form-control">
            </td>
        </tr>
        </tbody>
    </table>

    <button class="calc_subs btn btn-success">Рассчитать сумму субсидии</button>
    <button class="clear_fieild btn btn-success">Очистить все</button>
    <h4>Сумма субсидии</h4>
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td width="33%">
                <label>За отчетный период по коровьему молоку</label>
            </td>
            <td width="33%">
                <label>За отчетный период по козьему молоку</label>
            </td>
            <td width="33%">
                <label>Общая сумма субсидии</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" id="summ_cows" name="summ_cows" value="0.00" step="any" readonly="readonly" style='width:100%' class="form-control">
            </td>
            <td>
                <input type="number" id="summ_goats" name="summ_goats" value="0.00" step="any" readonly="readonly" style='width:100%' class="form-control">
            </td>
            <td>
                <input type="number" id="summ_total" name="summ_total" value="0.00" step="any" readonly="readonly" style='width:100%' class="form-control">
            </td>
        </tr>
        </tbody>
    </table>

    <h4>Справка о наличии специалистов</h4>
    <table class="table information_json" name="information_json" id="information_json">
        <tr>
            <td>Наименование должности специалиста</td>
            <td>Количество штатных единиц</td>
            <td>Фактически работает (человек)</td>
            <td>Высшее профессиональное</td>
            <td>Среднее профессиональное</td>
            <td></td>
        </tr>
        <tr class="information_json_plus">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="btn btn-success plus pull-right">+</span></td>
        </tr>
    </table>

    <h4>Реестр документов, подтверждающих реализацию и (или) отгрузку на собственную переработку молока	</h4>
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td><a href="{{ STATIC_URL }}/media/registry_8_article.xlsx" download="" title="Скачать шаблон для заполнения">Скачать шаблон для заполнения реестра</a></td>
            <td></td>
        </tr>
        <tr>
            <td width="40%"><input type="file" class="form-control-file" id="docfile" name="docfile"/></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-success" formaction="/save_DB_eight_form" id="save_DB_eight_form">Создать</button>
    <input type="hidden" id="count_1" name="count_1" value="0">
</form>
{% endblock %}
