{% extends "bases/base.html" %}
{% block title %}Редактирование заявки{% endblock %}
{% block name_page %}Редактирование заявки № {{ model_item_request.id }} {% endblock name_page%}
{% block content %}

<form id="form_eight" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" name="rate_cows" value='{{ model_item_eight_subs.rate_cows }}' id="rate_cows">
    <input type="hidden" name="rate_goats" value='{{ model_item_eight_subs.rate_goats }}' id="rate_goats">
    <input type="hidden" id="count_1" name="count_1" value="{{ count_1 }}">
    <input type="hidden" id="path_registry" name="path_registry" value="{{ path_registry }}">
    <input type="hidden" id="registry_excel_volume_milk" name="registry_excel_volume_milk" value="{{ model_item_eight_subs.registry_excel_volume_milk }}">
    <input type="hidden" name="status_request" value='{{ model_item_request.f_status }}' id="status_request">
    <input type="hidden" name="count_error_1" value='{{ count_error_1 }}' id="count_error_1">
    <input type="hidden" name="id_request" value='{{ model_item_request.id }}' id="id_request">


    <h4>{{ model_item_request.f_subsidies.f_article_law.name_article }} за {{ model_item_request.f_subsidies.f_report_period.f_period.name_period }} {{ model_item_request.f_subsidies.f_report_period.year_sub }} г.</h4>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#data_show">Информация о заявке</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#movement">"Движение" заявки</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="data_show">
            <h4>Заявление</h4>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td>3. Уведомление об отказе в приеме к рассмотрению документов</td>
                    <td width="60%">
                        <select style='width:100%' name="point_3" id="point_3" class="form-control">
                            {% for item in Points_subs_1 %}
                            {% if model_item_eight_subs.get_three_point_display == item %}
                            <option selected> {{ item }}</option>
                            {% else %}
                            <option>{{item}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>4. В случае принятия решения об отказе в предоставлении субсидии уведомление об отказе в предоставлении
                        субсидии
                    </td>
                    <td>
                        <select style='width:100%' name="point_4" id="point_4" class="form-control">
                            {% for item in Points_subs_1 %}
                            {% if model_item_eight_subs.get_fourth_point_display == item %}
                            <option selected> {{ item }}</option>
                            {% else %}
                            <option>{{item}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>5. В случае принятия решения о предоставлении субсидии проект соглашения о предоставлении субсидии</td>
                    <td>
                        <select style='width:100%' name="point_5" id="point_5" class="form-control">
                            {% for item in Points_subs_2 %}
                            {% if model_item_eight_subs.get_fifth_point_display == item %}
                            <option selected> {{ item }}</option>
                            {% else %}
                            <option>{{item}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>

            <h4>Общая информация</h4>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td colspan="3" valign="top">
                        <label>Общее количество скота (кроме птицы) на первое число месяца подачи заявления в условных
                            головах </label>
                    </td>
                    <td>
                        <input type="number" min="0" step="1" id="num_total" name="num_total"
                               value="{{ model_item_eight_subs.num_total_livestock|floatformat:0 }}" style='width:100%' class="form-control">
                    </td>
                </tr>

                <tr>
                    <td colspan="3">Был лейкоз на «01» {{ name_report_month_rod }} {{ model_item_request.f_subsidies.f_report_period.year_sub }}?</td>
                    <td>
                        <select style='width:100%' name="leukemia_KRS" id="leukemia_KRS" class="form-control">
                            {% for item in Leukemia_subs %}
                            {% if model_item_eight_subs.get_leukemia_livestock_display == item %}
                            <option selected> {{ item }}</option>
                            {% else %}
                            <option>{{item}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr>
                    <td colspan="3" valign="top">Карантин и иные ограничения, направленные на предотвращение распространения и ликвидации
                        очагов по лейкозу крупного рогатого скота:
                    </td>

                    <td>
                        <select name="quarantine" id="quarantine" style='width:100%' class="form-control">
                            {% for item in Quarantine %}
                            {% if model_item_eight_subs.get_quarantine_livestock_display == item %}
                            <option selected> {{ item }}</option>
                            {% else %}
                            <option>{{item}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr>
                    <td width="25%">
                        <label id="label_quarantine_establish_1">Дата установления карантина и иных ограничений:</label>
                    </td>
                    <td width="25%">
                        <input type="date" id="data_quarantine_establish_1" name="data_quarantine_establish_1"
                               value="{{ model_item_eight_subs.data_quarantine_establish_1|date:'Y-m-d' }}" style='width:100%' class="form-control">
                    </td>
                    <td width="25%">
                        <label id="label_quarantine_establish_2">Дата снятия карантина и иных ограничений:</label>
                    </td>
                    <td width="25%">
                        <input type="date" id="data_quarantine_establish_2" name="data_quarantine_establish_2"
                               value="{{ model_item_eight_subs.data_quarantine_establish_2|date:'Y-m-d' }}" style='width:100%' class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>

            <h4>Производство и реализация коровьего молока</h4>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td width="33%" valign="top">
                        <label>Поголовье коров на 01.01.{{ current_year }} года предоставления субсидии</label>
                    </td>
                    <td width="33%" valign="top">
                        <label>Поголовье коров на «01» {{ name_report_month_rod }} {{ model_item_request.f_subsidies.f_report_period.year_sub }} года (1-е число месяца, следующего за отчетным периодом)</label>
                    </td>
                    <td width="33%" valign="top">
                        <label>Количество произведенного и реализованного коровьего молока в физическом весе, в том числе
                            отгруженного на собственную переработку, за отчетный период (тонн)</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" min="0" step="1" id="num_begin_year_cows" name="num_begin_year_cows" value="{{ model_item_eight_subs.num_begin_year_cows }}" style='width:100%' class="form-control">
                    </td>
                    <td>
                        <input type="number" min="0" step="1" id="num_begin_month_cows" name="num_begin_month_cows"
                               value="{{ model_item_eight_subs.num_begin_month_cows }}" style='width:100%' class="form-control">
                    </td>
                    <td>
                        <input type="number" min="0.000" step="0.001" id="amount_milk_cows" name="amount_milk_cows"
                               value="{{ model_item_eight_subs.amount_milk_cows|floatformat:3  }}" style='width:100%' class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>

            <h4>Производство и реализация козьего молока</h4>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td width="50%">
                        <label>Поголовье коз на «01» {{ name_report_month_rod }} {{ model_item_request.f_subsidies.f_report_period.year_sub }} года предоставления субсидии</label>
                    </td>
                    <td width="50%">
                        <label>Количество произведенного и реализованного и (или) отгруженного на собственную переработку
                            козьего молока за отчетный период в физическом весе (тонн)</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" min="0" step="1" id="num_begin_year_goats" name="num_begin_year_goats" value="{{ model_item_eight_subs.num_begin_month_goats }}" style='width:100%' class="form-control">
                    </td>
                    <td>
                        <input type="number" min="0.000" step="0.001" id="amount_milk_goats" name="amount_milk_goats"
                               value="{{ model_item_eight_subs.amount_milk_goats|floatformat:3 }}" style='width:100%' class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>

            <button class="calc_subs btn btn-success" id="calc_subs">Рассчитать сумму субсидии</button>
            <button class="clear_fieild btn btn-success" id="clear_fieild">Очистить все</button>

            <h4>Сумма субсидии</h4>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td width="33%">
                        <label>За отчетный период по коровьему молоку</label>
                    </td>
                    <td width="33%">
                        <label>За отчетный период по козьему молоку</label>
                    </td>
                    <td width="33%">
                        <label>Общая сумма субсидии</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" id="summ_cows" name="summ_cows" value="{{ model_item_eight_subs.sum_cows|floatformat:2 }}" step="any" readonly="readonly" style='width:100%' class="form-control">
                    </td>
                    <td>
                        <input type="number" id="summ_goats" name="summ_goats" value="{{ model_item_eight_subs.sum_goats|floatformat:2 }}" step="any" readonly="readonly" style='width:100%' class="form-control">
                    </td>
                    <td>
                        <input type="number" id="summ_total" name="summ_total" value="{{ total_summ|floatformat:2 }}" step="any" readonly="readonly" style='width:100%' class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>

            <h4>Справка о наличии специалистов</h4>
            <table class="table information_json" name="information_json" id="information_json">
                <tr>
                    <td>Наименование должности специалиста</td>
                    <td>Количество штатных единиц</td>
                    <td>Фактически работает (человек)</td>
                    <td>Высшее профессиональное</td>
                    <td>Среднее профессиональное</td>
                    <td></td>
                </tr>
                {% for item in model_item_eight_subs.register_specialists.all %}
                  <tr>
                    <td><input type="text" class="form-control" value="{{ item.name_spec_position }}" name="{{ item.id }}_1"></td>
                    <td><input type="number" class="form-control" step="1" min="0" value="{{ item.count_spec }}" name="{{ item.id }}_2"></td>
                    <td><input type="number" class="form-control" step="1" min="0" value="{{ item.actually_working_spec }}" name="{{ item.id }}_3"></td>
                    <td><input type="number" class="form-control" step="1" min="0" value="{{ item.higher_prof }}" name="{{ item.id }}_4"></td>
                    <td><input type="number" class="form-control" step="1" min="0" value="{{ item.secondary_prof }}" name="{{ item.id }}_5"></td>
                    <td><span class="btn btn-danger minus pull-right">-</span></td>
                  </tr>
                {% endfor %}
              <tr class="information_json_plus">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><span class="btn btn-success plus pull-right">+</span></td>
              </tr>
            </table>

            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td colspan="2" style="vertical-align: top; padding: 0px;"><h4>Реестр документов, подтверждающих реализацию и (или) отгрузку молока</h4></td>
                        <td colspan="2" style="vertical-align: top; padding: 0px;"><h4>Файлы для загрузки</h4></td>
                    </tr>
                    <tr>
                        <td width="25%" style="vertical-align: middle;"><a href="{{ STATIC_URL }}/media/registry_8_article.xlsx" download="" title="Скачать шаблон для заполнения">Скачать шаблон для заполнения реестра</a></td>
                        <td width="25%" style="vertical-align: middle;"><input type="file" accept=".xlsx" class="form-control-file" id="docfile" name="docfile"/></td>
                        <td width="25%" style="vertical-align: middle;"><a href="{{ STATIC_URL }}{{ str_merge_path_request_pdf }}" download="" title="Скачать печатный комплект документов">Печатный комплект документов</a></td>
                        <td width="25%" style="vertical-align: middle;">
                            <a href="{{ STATIC_URL }}{{ path_registry }}" download="" title="Скачать загруженный реестр">Загруженный реестр</a>
                            <button type="submit" name="delete_registry" id="delete_registry"
                                style="background-color: transparent; outline: none; border: none; margin-left: 0px;"
                                title="Удалить загруженный реестр"><img src="/media/icons/file-delete.png"></button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="padding: 0px; padding-left: 12px;">Общий объем молока: {{ model_item_eight_subs.registry_excel_volume_milk|floatformat:3 }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="block_warning">
                <h4 class="extremum-click" title="Кликните, чтобы свернуть">Замечания:</h4>
                <div class="extremum-slide">
                    <table class="table table-bordered" style="width:40%; margin-left:10px;">
                        <tbody>
                            <tr class="table_warning">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <label style="margin-left:10px;"><font color="red"><i><sup>*</sup>Прежде, чем отправлять заявку на проверку, нажмите «Переформировать печатный комплект»</i></font></label><br>
            <button class="btn btn-success" formaction="/save_edit_eight_request/{{model_item_request.id}}/" name="save_edit_eight_request" id="save_edit_eight_request">Сохранить</button>
            <button class="btn btn-success" name="reformat_print_eight_request" id="reformat_print_eight_request">Переформировать печатный комплект</button>
            <button class="btn btn-success" formaction="/show_request/{{model_item_request.id}}/" name="show_request" id="show_request">Перейти к отправке заявки</button>
            <button class="btn btn-success" formaction="/show_request/{{model_item_request.id}}/">Перейти в основную карточку заявки</button>
        </div>
        <div class="tab-pane fade" id="movement">
            <table class="table">
                <tbody>
                <tr>
                    <td>{{ model_item_request.history_request|linebreaks }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}

