{% extends "bases/base.html" %}
{% block title %}Просмотр отчета по субсидии{% endblock %}
{% block name_page %}Просмотр отчета по субсидии{% endblock name_page%}

{% block content %}
<h4>Отчет № {{ model_item_reports_requests.id }}: {{ model_item_reports_requests.f_organization.full_name_org }} (ИНН: {{ model_item_reports_requests.f_organization.inn_org }}) </h4>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="status_request_report" value='{{ status_request_report }}' id="status_request_report">
    <input type="hidden" name="status_action_report" value='{{ status_action_report }}' id="status_action_report">
    <input type="hidden" name="id_reports_requests" value='{{ model_item_reports_requests.id }}' id="id_reports_requests">
    <input type="hidden" name="num_article" value='{{ model_item_reports_requests.f_report_request.num_article }}' id="num_article">
    <input type="hidden" name="deadline_admission_report" value='{{ deadline_admission_report }}' id="deadline_admission_report">
    <input type="hidden" name="removed_condition" value='{{ removed_condition }}' id="removed_condition">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#data_show">Информация об отчете по субсидии</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#movement">"Движение" отчета по субсидии</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="data_show">
            <table class="table">
                <tbody>
                <tr>
                    <td>Отчет:</td>
                    <td>{{ model_item_reports_requests.f_report_request.name_report_request }}</td>
                </tr>
                <tr>
                    <td>Отчетный год:</td>
                    <td>{{ model_item_reports_requests.f_report_request.report_year }}</td>
                </tr>

                <tr>
                    <td>Статус:</td>
                    <td>{{ model_item_reports_requests.get_status_report_display }}</td>
                </tr>

                <tr>
                    <td>Печатный комплект документов:</td>
                    <td>
                        <a href="{{ STATIC_URL }}/media/{{ model_item_reports_requests.print_document_path }}" download="">Скачать</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-success" formaction="/show_report_sub/{{model_item_reports_requests.id}}/">Просмотр/редактирование</button>
            <button class="send_report_request btn btn-success" formaction="/send_report_request" id="send_report_request">{{ status_action_report }}</button>

            <input id="deny-click-request-report" type="button" class="deny-click-request-report btn btn-danger" value="Отказать" style="margin-left: 10px" >

            <div class="deny-slid-request-report">
                <table class="table table-borderless" width="60%">
                    <tbody>
                        <tr>
                            <td style="padding: 0px; padding-left: 10px; padding-top: 5px;"><label><b>Причина отказа</b></label></td>
                        </tr>
                        <tr>
                            <td style="padding: 0px; padding-left: 10px;"><textarea name ="textarea_deny-request-report" class="form-control" rows="3"></textarea></td>
                        </tr>
                        <tr>
                            <td style="padding: 0px; padding-left: 1px; padding-top: 14px;"><button class="save_deny_request_report btn btn-success" formaction="/save_deny_request_report/{{ model_item_reports_requests.id }}/" id="/save_deny_request_report">Отправить</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <label id="deadline_label_request_report" style="margin-left:10px;"><font color="red">Срок приема отчетов по субсидии истек!</font></label>
        </div>

        <div class="tab-pane fade" id="movement">
            <table class="table">
                <tbody>
                <tr>
                    <td>{{ model_item_reports_requests.history_reports_requests |linebreaks }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>


{% endblock %}