{% extends "bases/base.html" %}

{% block title %}Отчеты для субсидий{% endblock %}
{% block name_page %}Отчеты для субсидий{% endblock name_page%}

{% block content %}
<table class="table table-borderless">
  <tbody>
  <tr>
      <td><a href="/choose_report_request" title="Сформировать отчет для субсидии">Сформировать отчет для субсидии</a>
      </td>
  </tr>
  <tr>
      <td><a href="/show_reports_subsidies" title="Список активных отчетов для субсидии">Список активных отчетов для
          субсидии</a></td>
  </tr>
  <tr>
      <td><a href="/show_remove_reports_subsidies" title="Список удаленных отчетов для субсидии">Список удаленных отчетов для
          субсидии</a></td>
  </tr>
  </tbody>
</table>

{% endblock %}