{% extends "bases/base.html" %}

{% block title %}Список отчетов по субсидии{% endblock %}
{% block name_page %}Список отчетов по субсидии{% endblock name_page%}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <table class="table table-hover">
        <thead>
        <tr align="left">
            <th class="info text-center" style="vertical-align: middle;">№ отчета</th>
            <th class="info text-center" style="vertical-align: middle;">Наименование организации</th>
            <th class="info text-center" style="vertical-align: middle;">ИНН организации</th>
            <th class="info text-center" style="vertical-align: middle;">Район регистрации</th>
            <th class="info text-center" style="vertical-align: middle;">Наименование отчета</th>
            <th class="info text-center" style="vertical-align: middle;">Отчетный период</th>
            <th class="info text-center" style="vertical-align: middle;">Статус</th>
            <th class="info text-center" style="vertical-align: middle;">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_item %}
        <tr>
            <td align="center" style="vertical-align: middle">{{ item.id }}</td>
            <td style="vertical-align: middle">{{ item.f_organization.full_name_org }}</td>
            <td align="center" style="vertical-align: middle">{{ item.f_organization.inn_org }}</td>
            <td align="center" style="vertical-align: middle">{{ item.f_organization.f_reg_area }}</td>
            <td style="vertical-align: middle">{{ item.f_report_request.name_report_request }}</td>
            <td align="center" style="vertical-align: middle">{{ item.f_report_request.report_year }}</td>
            {% if item.get_status_report_display == "Принято" %}
                <td align="center" style="background: #a6ddf5; color: #666666; vertical-align: middle;">{{ item.get_status_report_display }}</td>
            {% elif item.get_status_report_display == "Проверено ОТР" %}
                <td align="center" style="background: #b1e697; color: #666666; vertical-align: middle;">{{ item.get_status_report_display }}</td>
            {% elif item.get_status_report_display == "Проверено МО" %}
                <td align="center" style="background: #d1f0c2; color: #666666; vertical-align: middle;">{{ item.get_status_report_display }}</td>
            {% elif item.get_status_report_display == "Отправлено" %}
                <td align="center" style="background: #ffea8f; color: #666666; vertical-align: middle;">{{ item.get_status_report_display }}</td>
            {% elif item.get_status_report_display == "Отказано" %}
                <td align="center" style="background: #ff9980; color: #666666; vertical-align: middle;">{{ item.get_status_report_display }}</td>
            {% elif item.get_status_report_display == "Новая" %}
                <td align="center" style="background: #dddddd; color: #666666; vertical-align: middle;">{{ item.get_status_report_display }}</td>
            {% else %}
                 <td align="center" style="vertical-align: middle;">{{ item.get_status_report_display }}</td>
            {% endif %}
            <td style="vertical-align: middle"><a href="show_report_subsidy/{{item.id}}">Показать</a> | <a href="delete_report_subsidy/{{item.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        {% if model_item.has_other_pages %}
        <ul class="navigation">
            {% if model_item.has_previous %}
            <li class="navigation"><a href="?page={{ model_item.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="navigation"><a>&laquo;</a></li>
            {% endif %}
            {% for i in model_item.paginator.page_range %}
            {% if model_item.number == i %}
            <li class="navigation"><a class="navigation {{ i }} ">{{ i }}</a></li>
            {% else %}
            <li class="navigation"><a class="navigation" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if users.has_next %}
            <li class="navigation"><a class="navigation" href="?page={{ model_item.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="navigation"><a class="navigation">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</form>

{% endblock %}