{% extends "bases/base.html" %}

{% block title %}Сводная справка - расчет{% endblock %}
{% block name_page %}Сводная справка - расчет по статье «{{ obj_ssr.f_articles_law.name_article }}» {% endblock name_page %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#eight_ssr_data_ssr_show">Сводная справка - расчет</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#eight_ssr_history_ssr">История изменений</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="eight_ssr_data_ssr_show">
            <a href="{{ STATIC_URL }}/media{{ obj_ssr.excel_document_path }}" download="" title="Скачать сохраненную сводную справку - расчет в формате *.xlsx">Скачать в Excel</a>
            {% if obj_ssr.get_f_status_display != "Принято" %}
                <a href="/edit_ssr/{{obj_ssr.id}}"><label class="label_a_href" title="Изменить сводную справку - расчет">Изменить сводную справку - расчет</label></a>
            {% endif %}

            <a href="/show_list_ssrs"><label class="label_a_href" title="Перейти на страницу со списком сводных справок - расчет">Список сводных справок - расчет</label></a>

            <center>{{ name_title|linebreaks }}</center>
            <table class="table table-bordered">
                <thead align="center">
                <tr>
                    <th>Наименование муниципального района или городского округа</th>
                    <th>Наименование получателя субсидии</th>
                    <th>Вид молока</th>
                    <th>Количество реализовнного молока в физическом весе с нарастающим итогом (тонн)</th>
                    <th>Ставка субсидирования на одну тонну молока (рублей)</th>
                    <th>Сумма начисленной субсидии (рублей)</th>
                    <th>Сумма субсидии выплаченная с начала года (рублей)</th>
                    <th>Сумма субсидии причитающаяся к выплате за отчетный период (рублей)</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                {% for item in obj_eight_ssr %}
                <tr>
                    <td rowspan="2"> {{ item.name_region }}</td>
                    <td rowspan="2"> {{ item.name_organization }}</td>
                    <td>{{ item.type_milk_1 }}</td>
                    <td align="center">{{ item.amount_milk_cows|floatformat:3 }}</td>
                    <td align="center"><span class='price'>{{ item.rate_cows }}</span></td>
                    <td align="center"><span class='price'>{{ item.sum_accrued_cows }}</span></td>
                    <td align="center"><span class='price'>{{ item.sum_paid_cows }}</span></td>
                    <td align="center"><span class='price'>{{ item.sum_report_cows }}</span></td>
                </tr>
                <tr>
                    <td>{{ item.type_milk_2 }}</td>
                    <td align="center">{{ item.amount_milk_goats|floatformat:3 }}</td>
                    <td align="center"><span class='price'>{{ item.rate_goats }}</span></td>
                    <td align="center"><span class='price'>{{ item.sum_accrued_goats }}</span></td>
                    <td align="center"><span class='price'>{{ item.sum_paid_goats }}</span></td>
                    <td align="center"><span class='price'>{{ item.sum_report_goats }}</span></td>
                </tr>
                <tr bgcolor="#f3f3f3">
                    <td colspan=3><b>Итого:</b></td>
                    <td align="center"><b>{{ item.amount_milk|floatformat:3 }}</b></td>
                    <td align="center"><b>X</b></td>
                    <td align="center"><b><span class='price'>{{ item.sum_accrued }}</span></b></td>
                    <td align="center"><b><span class='price'>{{ item.sum_paid }}</span></b></td>
                    <td align="center"><b><span class='price'>{{ item.sum_report }}</span></b></td>
                </tr>
                {% endfor %}
                <tr bgcolor="#dddddd">
                    <td colspan=3><b>Всего:</b></td>
                    <td align="center"><b>{{ total_amount_milk|floatformat:3 }}</b></td>
                    <td align="center"><b>X</b></td>
                    <td align="center"><b><span class='price'>{{ total_sum_accrued }}</span></b></td>
                    <td align="center"><b><span class='price'>{{ total_sum_paid }}</span></b></td>
                    <td align="center"><b><span class='price'>{{ total_sum_report }}</span></b></td>
                </tr>
                </tbody>
            </table>

            <table class="table table-borderless">
                <tr>
                    <td colspan="2">Заместитель министра сельского хозяйства<br>и торговли Красноярского края</td>
                    <td>{{ obj_ssr.fio_deputy_minister}}</td>
                </tr>
                <tr>
                    <td colspan="3">«__» ______________ {{ obj_ssr.data_create|date:'Y' }} г.</td>
                </tr>
                <tr>
                    <td colspan="3">{{ obj_ssr.fio_spec_oib}}, {{ obj_ssr.phone_spec_oib }}</td>
                </tr>
            </table>
        </div>

        <div class="tab-pane fade" id="eight_ssr_history_ssr">
            <table class="table">
                <tbody>
                <tr>
                    <td>{{ obj_ssr.change_history|linebreaks }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

{% endblock %}