{% extends "bases/base.html" %}
{% block title %}Создание информации для расчета ставок{% endblock %}
{% block name_page %}Создание информации для расчета ставок по несвязной поддержке в области растениеводства за {{ report_year }} год{% endblock name_page%}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_actions_analytics_reports"><label class="label_a_href" title="Перейти на страницу со списком отчетов по заявкам">Список отчетов по заявкам</label></a>
    <a href="/show_inform_cacls"><label class="label_a_href" title="Перейти на страницу со списком рассчитаных ставок">Список рассчитаных ставок</label></a>
    <input type="hidden" name="report_year" value='{{ report_year }}' id="report_year">
    <h4>Общая информация</h4>
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td width="50%">
                Лимит средств консолидированного бюджета (зерновые, зернобобовые, масличные (за исключением рапса и сои), картофель + овощи)
            </td>
            <td width="20%">
                <input type="number" id="consol_budget_funds_limit" name="consol_budget_funds_limit" value="0.00" step="0.01" style='width:100%'>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Лимит средств бюджета (зерновые, зернобобовые, масличные (за исключением рапса и сои)</td>
            <td>
                <input type="number" id="budget_funds_limit_cereals" name="budget_funds_limit_cereals" value="0.00" step="any" readonly="readonly" style='width:100%; background: #f3f3f3'>
            </td>
            <td>
                <input type="number" id="auxiliary_1" name="auxiliary_1" value="0.000000" step="0.000001" style='width:100%'>
            </td>
        </tr>
        <tr>
            <td>Лимит средств  бюджета (овощи)</td>
            <td>
                <input type="number" id="budget_funds_limit_vegetables" name="budget_funds_limit_vegetables" value="0.00" step="any" readonly="readonly" style='width:100%; background: #f3f3f3'>
            </td>
            <td>
                <input type="number" id="auxiliary_2" name="auxiliary_2" value="0.000000" step="0.000001" style='width:100%'>
            </td>
        </tr>
        <tr>
            <td>Лимит средств  бюджета (картофель)</td>
            <td>
                <input type="number" id="budget_funds_limit_potato" name="budget_funds_limit_potato" value="0.00" step="any" readonly="readonly" style='width:100%; background: #f3f3f3'>
            </td>
            <td>
                <input type="number" id="auxiliary_3" name="auxiliary_3" value="0.000000" step="any" readonly="readonly" style='width:100%; background: #f3f3f3'>
            </td>
        </tr>
         <tr>
            <td>Страхование</td>
            <td>
                <input type="number" id="insurance" name="insurance" value="0.00" step="any" readonly="readonly" style='width:100%; background: #f3f3f3'>
            </td>
            <td>
                <input type="number" id="auxiliary_4" name="auxiliary_4" value="0.000000" step="0.000001" style='width:100%'>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-success" formaction="create_inform_cacl_nesvaska" id="create_inform_cacl_nesvaska">Создать</button>
</form>
{% endblock %}