{% extends "bases/base.html" %}
{% block title %}Выбор отчетного года{% endblock %}
{% block name_page %}Выбор отчетного года по несвязной поддержке для расчета ставок{% endblock name_page%}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_actions_analytics_reports"><label class="label_a_href" title="Перейти на страницу со списком отчетов по заявкам">Список отчетов по заявкам</label></a>
    <a href="/show_inform_cacls"><label class="label_a_href" title="Перейти на страницу со списком рассчитаных ставок">Список рассчитаных ставок</label></a>
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td width="20%" style="vertical-align:center">
                <select class="form-control" name="combo_inform_calc" style="width: 100%">
                    <option>2020</option>
                    <option>2021</option>
                </select>
            </td>
            <td style="vertical-align:center; padding-left: 0px">
                <button type="submit" class="btn btn-success" name="choose_inform_calc">Выбрать</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}