{% extends "bases/base.html" %}
{% block title %}Редактирование общей информации по расчету{% endblock %}
{% block name_page %}Редактирование общей информации по несвязной поддержке для расчета коэффициентов и ставок{% endblock name_page%}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_actions_analytics_reports"><label class="label_a_href" title="Перейти на страницу со списком отчетов по заявкам">Список отчетов по заявкам</label></a>
    <a href="/show_inform_cacls"><label class="label_a_href" title="Перейти на страницу со списком рассчитаных ставок">Список рассчитаных ставок</label></a>
    <h4>Общая информация</h4>
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td width="50%">
                Лимит средств консолидированного бюджета (зерновые, зернобобовые, масличные (за исключением рапса и сои), картофель + овощи)
            </td>
            <td width="20%">
                <input type="number" id="consol_budget_funds_limit" name="consol_budget_funds_limit" value="{{ info_nesvaska_obj.consol_budget_funds_limit|floatformat:2 }}" step="0.01" style='width:100%' class="form-control" min="0">
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Лимит средств бюджета (зерновые, зернобобовые, масличные (за исключением рапса и сои)</td>
            <td>
                <input type="number" id="budget_funds_limit_cereals" name="budget_funds_limit_cereals" value="{{ info_nesvaska_obj.budget_funds_limit_cereals|floatformat:2 }}" step="any" readonly="readonly" style='width:100%; background: #f3f3f3' class="form-control" min="0">
            </td>
            <td>
                <input type="number" id="auxiliary_1" name="auxiliary_1" value="{{ info_nesvaska_obj.auxiliary_1|floatformat:6 }}" step="0.000001" style='width:100%' class="form-control">
            </td>
        </tr>
        <tr>
            <td>Лимит средств  бюджета (овощи)</td>
            <td>
                <input type="number" id="budget_funds_limit_vegetables" name="budget_funds_limit_vegetables" value="{{ info_nesvaska_obj.budget_funds_limit_vegetables|floatformat:2 }}" step="any" readonly="readonly" style='width:100%; background: #f3f3f3' class="form-control" min="0">
            </td>
            <td>
                <input type="number" id="auxiliary_2" name="auxiliary_2" value="{{ info_nesvaska_obj.auxiliary_2|floatformat:6 }}" step="0.000001" style='width:100%' class="form-control" min="0">
            </td>
        </tr>
        <tr>
            <td>Лимит средств  бюджета (картофель)</td>
            <td>
                <input type="number" id="budget_funds_limit_potato" name="budget_funds_limit_potato" value="{{ info_nesvaska_obj.budget_funds_limit_potato|floatformat:2 }}" step="any" readonly="readonly" style='width:100%; background: #f3f3f3' class="form-control">
            </td>
            <td>
                <input type="number" id="auxiliary_3" name="auxiliary_3" value="{{ info_nesvaska_obj.auxiliary_3|floatformat:6 }}" step="any" readonly="readonly" style='width:100%; background: #f3f3f3' class="form-control">
            </td>
        </tr>
         <tr>
            <td>Страхование</td>
            <td>
                <input type="number" id="insurance" name="insurance" value="{{ info_nesvaska_obj.insurance|floatformat:2 }}" step="any" readonly="readonly" style='width:100%; background: #f3f3f3' class="form-control">
            </td>
            <td>
                <input type="number" id="auxiliary_4" name="auxiliary_4" value="{{ info_nesvaska_obj.auxiliary_4|floatformat:6 }}" step="0.000001" style='width:100%' class="form-control">
            </td>
        </tr>
        </tbody>
    </table>


    <table class="table table-borderless">
        <tbody>
        <tr>
            <td style="padding: 0px;"><h4>Наименование культуры</h4></td>
            <td style="padding: 0px;"><h4>Ставки</h4></td>
            <td style="padding: 0px;"><h4>Площади</h4></td>
            <td style="padding: 0px;"></td>
        </tr>
        <tr>
            <td width="40%">Зерновые, зернобобовые, масличные (за исключением рапса и сои)</td>
            <td width="15%"><input type="number" id="rate_cereals" name="rate_cereals" value="{{ info_nesvaska_obj.rate_cereals|floatformat:2 }}" step="any" readonly="readonly" style='width:100%; background: #f3f3f3' class="form-control"></td>
            <td width="15%"><input type="number" id="total_area_cereals" name="total_area_cereals" value="{{ info_nesvaska_obj.total_area_cereals|floatformat:3 }}" step="any" readonly="readonly" style='width:100%; background: #f3f3f3' class="form-control"></td>
            <td></td>
        </tr>
        <tr>
            <td>Овощи открытого грунта</td>
            <td><input type="number" id="rate_vegetables" name="rate_vegetables" value="{{ info_nesvaska_obj.rate_vegetables|floatformat:2 }}" step="any" readonly="readonly" style='width:100%; background: #f3f3f3' class="form-control"></td>
            <td><input type="number" id="total_area_vegetables" name="total_area_vegetables" value="{{ info_nesvaska_obj.total_area_vegetables|floatformat:3 }}" step="any" readonly="readonly" style='width:100%; background: #f3f3f3' class="form-control"></td>
            <td></td>
        </tr>
        <tr>
            <td>Картофель</td>
            <td><input type="number" id="rate_potato" name="rate_potato" value="{{ info_nesvaska_obj.rate_potato|floatformat:2 }}" step="any" readonly="readonly" style='width:100%; background: #f3f3f3' class="form-control"></td>
            <td><input type="number" id="total_area_potato" name="total_area_potato" value="{{ info_nesvaska_obj.total_area_potato|floatformat:3 }}" step="any" readonly="readonly" style='width:100%; background: #f3f3f3' class="form-control"></td>
            <td></td>
        </tr>

        </tbody>
    </table>
    <button type="submit" class="btn btn-success" name="save_inform_cacl_nesvaska" id="save_inform_cacl_nesvaska">Переформировать</button>
</form>
{% endblock %}