{% extends "bases/base.html" %}

{% block title %}Список рассчитаных ставок{% endblock %}
{% block name_page %}Список рассчитанных ставок по несвязной поддержке в области растениеводства{% endblock name_page%}
{% block content %}
<form method="POST">
    <a href="/show_actions_analytics_reports"><label class="label_a_href" title="Перейти на страницу со списком отчетов по заявкам">Список отчетов по заявкам</label></a>
    {% csrf_token %}
    <table class="table table-hover">
        <thead>
        <tr align="left">
            <th style="vertical-align: top">№</th>
            <th style="vertical-align: top">Отчетный год</th>
            <th style="vertical-align: top">Ставка (зерновые, зернобобовые, масличные)</th>
            <th style="vertical-align: top">Ставка (овощи открытого грунта)</th>
            <th style="vertical-align: top">Ставка (картофель)</th>
            <th style="vertical-align: top">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in info_nesvaska_obj %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.report_year}}</td>
            <td><span class='price'>{{ item.rate_cereals}}</span></td>
            <td><span class='price'>{{ item.rate_vegetables}}</span></td>
            <td><span class='price'>{{ item.rate_potato}}</span></td>
            <td><a href="edit_inform_calc/{{item.id}}">Показать</a> | <a href="delete_inform_calc/{{item.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        {% if model_item.has_other_pages %}
        <ul class="navigation">
            {% if model_item.has_previous %}
            <li class="navigation"><a href="?page={{ model_item.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="navigation"><a>&laquo;</a></li>
            {% endif %}
            {% for i in model_item.paginator.page_range %}
            {% if model_item.number == i %}
            <li class="navigation"><a class="navigation {{ i }} ">{{ i }}</a></li>
            {% else %}
            <li class="navigation"><a class="navigation" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if users.has_next %}
            <li class="navigation"><a class="navigation" href="?page={{ model_item.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="navigation"><a class="navigation">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</form>

{% endblock %}