{% extends "bases/base.html" %}

{% block title %}Справочники{% endblock %}
{% block name_page %}Список справочников{% endblock name_page%}

{% block content %}
<table class="table table-hover">
  <tbody>
    <tr>
      <td width="30%">Банки</td>
      <td width="10%"><a href="/add_bank" title="Добавить банк">Добавить</a></td>
      <td><a href="/show_banks" title="Список банков">Показать все</a></td>
    </tr>

    <tr>
      <td>Статьи закона</td>
      <td><a href="/add_article_law" title="Добавить статью Закона">Добавить</a></td>
      <td><a href="/show_articles_law" title="Список статей Закона">Показать все</a></td>
    </tr>

    <tr>
      <td>Наименование отчетных периодов</td>
      <td><a href="/add_reporting_period" title="Добавить наименование отчетного периода">Добавить</a></td>
      <td><a href="/show_reporting_periods" title="Список наименований отчетных периодов">Показать все</a></td>
    </tr>

    <tr>
      <td>Отчетные периоды</td>
      <td><a href="/add_report_period" title="Добавить отчетный период">Добавить</a></td>
      <td><a href="/show_reporting_period" title="Список отчетных периодов">Показать все</a></td>
    </tr>

    <tr>
      <td>Периодичности</td>
      <td><a href="/add_periodicity" title="Добавить периодичность">Добавить</a></td>
      <td><a href="/show_periodicities" title="Список периодичностей">Показать все</a></td>
    </tr>

    <tr>
      <td>Районы регистрации</td>
      <td><a href="/add_registration_area" title="Добавить район регистрации">Добавить</a></td>
      <td><a href="/show_registration_area" title="Список районов регистрации">Показать все</a></td>
    </tr>

    <tr>
      <td>Субсидии</td>
      <td><a href="/add_subsidy" title="Добавить субсидию">Добавить</a></td>
      <td><a href="/show_subsidies" title="Список субсидий">Показать все</a></td>
    </tr>

    <tr>
      <td>Типы организации</td>
      <td><a href="/add_type_organization" title="Добавить тип организации">Добавить</a></td>
      <td><a href="/show_type_organizations" title="Список типов организации">Показать все</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}