{% extends "bases/base.html" %}
{% block title %}Создание отчета для субсидии{% endblock %}
{% block name_page %}Создание отчета для субсидии{% endblock name_page%}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <h4>{{ name_reports_requests.name_report_request }}</h4>
    <h4>Общая информация</h4>

    <div id="information_nesvaska">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td width="44%">
                    Зерновые, зернобобовые и кормовые сельскохозяйственные культуры:
                </td>
                <td width="20%">
                    <input type="number" id="cereals" name="cereals" value="0.000" step="0.001" style='width:100%' class="form-control" min="0">
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    Масличные сельскохозяйственные культуры (за исключением рапса и сои):
                </td>
                <td>
                    <input type="number" id="oilseeds" name="oilseeds" value="0.000" step="0.001" style='width:100%' class="form-control" min="0">
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    Картофель:
                </td>
                <td>
                    <input type="number" id="potato" name="potato" value="0.000" step="0.001" style='width:100%' class="form-control" min="0">
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    Овощи открытого грунта:
                </td>
                <td>
                    <input type="number" id="vegetables" name="vegetables" value="0.000" step="0.001" style='width:100%' class="form-control" min="0">
                </td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-success" name="create_nesvaska_report" id="create_nesvaska_report">Создать</button>
</form>
{% endblock %}