{% extends "bases/base.html" %}
{% block title %}Редактирование отчета для субсидии{% endblock %}
{% block name_page %}Редактирование отчета для субсидии{% endblock name_page%}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <h4>{{ name_reports_requests.name_report_request }}</h4>
    <h4>Общая информация</h4>
    <div id="information_nesvaska">
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td width="44%">Зерновые, зернобобовые и кормовые сельскохозяйственные культуры:</td>
                <td width="20%">
                    <input type="number" id="cereals" name="cereals" value="{{ model_item.cereals|floatformat:3 }}" step="0.001" style='width:100%' class="form-control" min="0">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Масличные сельскохозяйственные культуры (за исключением рапса и сои):</td>
                <td>
                    <input type="number" id="oilseeds" name="oilseeds" value="{{ model_item.oilseeds|floatformat:3 }}" step="0.001" style='width:100%' class="form-control" min="0">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Картофель:</td>
                <td>
                    <input type="number" id="potato" name="potato" value="{{ model_item.potato|floatformat:3 }}" step="0.001" style='width:100%' class="form-control" min="0">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Овощи открытого грунта:</td>
                <td>
                    <input type="number" id="vegetables" name="vegetables" value="{{ model_item.vegetables|floatformat:3 }}" step="0.001" style='width:100%' class="form-control" min="0">
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4>Файлы для загрузки</h4>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td><a href="{{ STATIC_URL }}{{ str_document_pdf }}" download="" title="Скачать справку о размерах посевных площадей">Справка о размерах посевных площадей</a></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" formaction="/edit_nesvaska_report/{{reports_requests_obj.id}}/" name="save_nesvaska_report" id="save_nesvaska_report">Сохранить</button>
    <button class="btn btn-success" formaction="/edit_nesvaska_report/{{reports_requests_obj.id}}/" name="resave_nesvaska_report" id="resave_nesvaska_report">Переформировать справку</button>
    <button class="btn btn-success" formaction="/show_report_subsidy/{{reports_requests_obj.id}}/" name="show_report_subsidy" id="show_report_subsidy">Перейти в основную карточку отчета для субсидии</button>

    <input type="hidden" name="status_report" value='{{ reports_requests_obj.status_report }}' id="status_report">


</form>
{% endblock %}