{% extends "bases/base.html" %}

{% block title %}Редактирование отчетного периода{% endblock %}
{% block name_page %}Редактирование отчетного периода{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/show_reporting_period"><label class="label_a_href" title="Перейти на страницу со списком отчетных периодов">Список отчетных периодов</label></a>
    <a href="/add_report_period"><label class="label_a_href" title="Перейти на страницу добавления отчетного периода">Добавить "Отчетный период"</label></a>
    <table class="table">
        <tbody>
        <tr>
            <td width="30%">Отчетный период: <font color="red">*</font></td>
            <td>
                <select style='f_period_1' name="f_period" id="f_period">
                    {% for item in f_period %}
                    <option>{{ item.name_period }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Отчетный год: <font color="red">*</font></td>
            <td><input type="number" name="year_sub" min="0" value="{{ model_item.year_sub }}"></td>
        </tr>
        </tbody>
    </table>
    <p class="label_star"><i>Поля, обязательные для заполнения, отмечены <font color="red">*</font></i></p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_registration_area">Сохранить
    </button>

    <div class="modal fade" id="warning_registration_area" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_change">Да</button>
                </div>
            </div>
        </div>
    </div>
</form>
 <input type="hidden" id="f_period_1" value="{{ model_item.f_period }}">
{% endblock %}