{% extends "bases/base.html" %}

{% block title %}Редактирование банка{% endblock %}
{% block name_page %}Редактирование банка: {{ model_item.name_bank }} ({{ model_item.inn_bank }}){% endblock name_page%}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/show_banks"><label class="label_a_href" title="Перейти на страницу со списком банков">Список банков</label></a>
    <a href="/add_bank"><label class="label_a_href" title="Перейти на страницу добавления нового банка">Добавить банк</label></a>

    <table class="table">
        <tbody>
        <tr>
            <td width="30%">Бик банка: <font color="red">*</font></td>
            <td><input type="text" name="bik_bank" maxlength="9" size="60" value="{{ model_item.bik_bank }}"></td>
        </tr>
        <tr>
            <td>Наименование банка: <font color="red">*</font></td>
            <td><input type="text" name="name_bank" maxlength="100" size="60" value="{{ model_item.name_bank }}"></td>
        </tr>
        <tr>
            <td>ИНН банка: <font color="red">*</font></td>
            <td><input type="text" name="inn_bank" maxlength="12" size="60" value="{{ model_item.inn_bank }}"></td>
        </tr>
        <tr>
            <td>Корреспондентский счёт: <font color="red">*</font></td>
            <td><input type="text" name="correspond_bank" maxlength="20" size="60"
                       value="{{ model_item.correspond_bank }}"></td>
        </tr>
        <tr>
            <td>КПП банка: <font color="red">*</font></td>
            <td><input type="text" name="kpp_bank" maxlength="9" size="60" value="{{ model_item.kpp_bank }}"></td>
        </tr>
        </tbody>
    </table>
    <p class="label_star"><i>Поля, обязательные для заполнения, отмечены <font color="red">*</font></i></p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_refact_bank">Сохранить
    </button>

    <div class="modal fade" id="warning_refact_bank" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_change">Да</button>
                </div>
            </div>
        </div>
    </div>

</form>
{% endblock %}