{% extends "bases/base.html" %}

{% block title %}Список банков{% endblock %}
{% block name_page %}Список банков{% endblock name_page %}

{% block content %}
<form id="form_bank" method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/add_bank"><label class="label_a_href" title="Перейти на страницу добавления нового банка">Добавить банк</label></a>
    <table class="table" id="banks_table">
        <thead>
        <tr align="left">
            <th class="info" style="display:none;">id</th>
            <th>БИК банка</th>
            <th>Наименование банка</th>
            <th>ИНН банка</th>
            <th>Корреспондентский счёт</th>
            <th>КПП банка</th>
            <th colspan="2">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_item %}
        <tr>
            <td style="display:none;">{{ item.id }}</td>
            <td>{{ item.bik_bank }}</td>
            <td>{{ item.name_bank }}</td>
            <td>{{ item.inn_bank }}</td>
            <td>{{ item.correspond_bank }}</td>
            <td>{{ item.kpp_bank }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Действия
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="edit_bank/{{item.id}}" id="dropdown_edit_bank">Изменить</a>
                        <a class="dropdown-item" href="" data-toggle="modal"
                           data-target="#warning_delete_bank">Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="warning_delete_bank" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите безвозвратно удалить этот банк?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button class="delete_bank btn btn-danger" formaction="delete_bank">Да</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="selected_td" name="selected_td">
</form>
{% endblock %}