{% extends "bases/base.html" %}
{% block title %}Выбор периода субсидирования{% endblock %}
{% block name_page %}Выбор периода субсидирования для ежемесячной статьи Закона{% endblock name_page%}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="id_article" value='{{ id_article }}' id="id_article">
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td width="20%" style="vertical-align:center">
                <select class="form-control" name="name_period" style="width: 100%">
                    {% for item in Subsidies_f %}
                    <option> {{ item.f_report_period.f_period }} {{ item.f_report_period.year_sub }}</option>
                    {% endfor %}
                </select>
            </td>
            <td style="vertical-align:center; padding-left: 0px">
                <button type="submit" class="btn btn-success" formaction="/allocation_create_subs" id="allocation_create_subs">Создать</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}