{% extends "bases/base.html" %}

{% block title %}Добавление статьи Закона{% endblock %}
{% block name_page %}Добавить «Статью Закона»{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/show_articles_law"><label class="label_a_href" title="Перейти на страницу со списком статей">Список статей Закона</label></a>
    <table class="table">
        <tbody>
        <tr>
            <td width="30%">Название статьи: <font color="red">*</font></td>
            <td>{{ form.name_article }}</td>
        </tr>
        <tr>
            <td>Периодичность: <font color="red">*</font></td>
            <td>{{ form.f_period_article }}</td>
        </tr>
        <tr>
            <td>Номер статьи: <font color="red">*</font></td>
            <td>{{ form.num_article }}</td>
        </tr>
        </tbody>
    </table>
    <p class="label_star"><i>Поля, обязательные для заполнения, отмечены <font color="red">*</font></i></p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_save_article_law">Сохранить
    </button>

    <div class="modal fade" id="warning_save_article_law" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_article_law">Да</button>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}