{% extends "bases/base.html" %}

{% block title %}Редактирование статьи Закона{% endblock %}
{% block name_page %}Редактирование статьи Закона{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/show_articles_law"><label class="label_a_href" title="Перейти на страницу со списком статей">Список статей закона</label></a>
    <a href="/add_article_law"><label class="label_a_href" title="Перейти на страницу добавления статьи Закона">Добавить «Статью Закона»</label></a>
    <table class="table">
        <tbody>
        <tr>
            <td width="30%">Название статей: <font color="red">*</font></td>
            <td><input type="text" name="name_article" maxlength="120" size="100" value="{{ model_item.name_article }}">
            </td>
        </tr>
        <tr>
            <td>Периодичность: <font color="red">*</font></td>
            <td>
                <select style='f_name_period_1' name="combo_period" id="combo_period">
                    {% for item in f_period %}
                    <option>{{ item.name_period }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Номер статьи: <font color="red">*</font></td>
            <td><input type="text" name="num_article" maxlength="12" size="12" value="{{ model_item.num_article }}">
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_articles_law">Сохранить
    </button>

    <div class="modal fade" id="warning_articles_law" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_change">Да</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="f_name_period_1" value="{{ model_item.f_period_article }}">
</form>
{% endblock %}
