{% extends "bases/base.html" %}

{% block title %}Список статей закона{% endblock %}
{% block name_page %}Список статей закона{% endblock name_page %}

{% block content %}
<form id="articles_law" method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/add_article_law"><label class="label_a_href" title="Перейти на страницу добавления статьи Закона">Добавить «Статью Закона»</label></a>
    <table class="table" id="articles_law_table">
        <thead>
        <tr align="left">
            <th class="info" style="display:none;" >id</th>
            <th width="60%" class="info text-center" style="vertical-align: middle;">Название статей</th>
            <th class="info text-center" style="vertical-align: middle;">Периодичность</th>
            <th class="info text-center" style="vertical-align: middle;">Номер статьи</th>
            <th colspan="2" class="info text-center" style="vertical-align: middle;">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_item %}
        <tr>
            <td style="display:none;">{{ item.id }}</td>
            <td>{{ item.name_article }}</td>
            <td align="center" style="vertical-align: middle;">{{ item.f_period_article }}</td>
            <td align="center" style="vertical-align: middle;">{{ item.num_article }}</td>
            <td align="center" style="vertical-align: middle;">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Действия
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="edit_article_law/{{item.id}}" id="dropdown_edit_article_law">Изменить</a>
                        <a class="dropdown-item" href="" data-toggle="modal"
                           data-target="#warning_articles_law">Удалить</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="warning_articles_law" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите безвозвратно удалить эту статью закона?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button class="delete_articles_law btn btn-danger" formaction="delete_articles_law">Да</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="selected_td_articles_law" name="selected_td_articles_law">
</form>
{% endblock %}