{% load static %}

body {
  font-family: "Times New Roman";
  max-width: 100%;
  overflow-x: hidden;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
}
button {
  margin-left: +10px;
}
h3 {
  margin-top: +10px;
  margin-left: +10px;
}
h4 {
  margin-top: +10px;
  margin-left: +10px;
}
h5 {
  margin-left: +10px;
}

.error_1, .error_2, .error_3, .error_4, .error_5  {
  color: red;
}

.label_success {
  color: red;
}

input.button_round {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 9px;
    cursor: pointer;
    border-radius: 50%;
}

.el {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a.active {
  color: #666;
    text-decoration: none;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover:not(.active) {
    text-decoration: none;
    background-color: #ddd;
    color: #666;
}

.navigation li.active a {
	color: #000000;
	background-color: #4caf50;
}

header{
 width: 100%;
 height: 85px;
 background: url('../pictures/company_logo2.png') no-repeat;
}

.title{
 font-size: 36px;
 text-align: left;
 margin-left: 80px;
 padding-top: 10px;
}

.menu{
 list-style: none;
 position: absolute;
 top: 10px;
 right: 100px;
}

.label_a_href {
    margin-top:10px;
    margin-left:12px;
}

.label_a_href:hover {
    text-decoration: underline;
    cursor: pointer;
}

.label_star {
    margin-top:-18px;
    margin-left:12px;
}