<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_form.css' %}">
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="wrapper">
    {% include 'bases/header.html' %}
    {% include 'bases/navbar.html' %}
    {% if request.path == "/" or request.path == "/login" or request.path == '/register'%}
    {% else %}
    <h4><input type="button" class="button_round" onclick="history.back();" value="&#11013;" title="Назад"/>
        {% block name_page %}{% endblock name_page%}</h4>
    {% endif %}
</div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

{% block content %}
{% endblock content %}
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{% static 'JQuery/interaction_forms.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
$(function() {
    var pathname_url = window.location.pathname;
    var href_url = window.location.href;
    console.log(pathname_url);
    $(".navigation li").each(function () {
        var link = $(this).find("a").attr("href");
        if(pathname_url == link || href_url == link) {
            $(this).addClass("active");
        }
    });

   $( "#name_organization" ).autocomplete({
        source: '{% url 'show_organizations' %}',
        minLength: 1
    });

  let caseSumsToSep = document.querySelectorAll('span.price');
  caseSumsToSep.forEach(makeNumSep);
  function makeNumSep(item, index) {
    let workValue = item.innerHTML;
    item.innerHTML = parseFloat(workValue).toLocaleString('ru-RU', {minimumFractionDigits: 2, maximumFractionDigits: 2}).replace(',', '.');
  }
});

</script>


</body>
</html>