<div id="wrap">
    <header>
        <div class="title">Субсидия АПК-24</div>
        <div class="menu">
            {% if request.user.is_authenticated %}
            Вы вошли как: {{ request.user }}<br>
            {% url 'logout_page' as url_logout_page %}
            <a style="color: black" href="{{ url_logout_page }}">Выйти</a>
            {% else %}
            {% url 'login_page' as url_login_page %}
            <a style="color: black" href="{{ url_login_page }}">Войти</a><br>
            {% url 'register_page' as url_register_page %}
            <a style="color: black" href="{{ url_register_page }}">Регистрация</a>
            {% endif %}
        </div>
    </header>
</div>