<ul class="navigation" >
  {% url 'front_page' as url_front_page %}
  <li><a href="{{ url_front_page }}" class="active">Главная</a></li>
  {% if request.user.is_authenticated %}
    <li><a href="/show_guides">Справочники</a></li>
    <li><a href="/show_organization">Реестр СХП</a></li>
    <li><a href="/show_form_users_system">Пользователи системы</a></li>
    <li><a href="/show_actions_requests_for_subsidies">Отчеты по заявкам</a></li>
    <li><a href="/show_actions_analytics_reports">Аналитика по отчетам</a></li>
    <li><a href="/show_actions_requests">Заявки</a></li>
    <li><a href="/show_actions_ssrs">Сводные справки-расчет</a></li>
  {% endif%}
</ul>
