{% extends "bases/base.html" %}

{% block title %}Редактирование периодичности{% endblock %}
{% block name_page %}Редактирование периодичности{% endblock name_page %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <a href="/show_guides"><label class="label_a_href" title="Перейти на страницу со списком справочников">Список справочников</label></a>
    <a href="/show_periodicities"><label class="label_a_href" title="Перейти на страницу со списком периодичностей">Список периодичностей</label></a>
    <a href="/add_periodicity"><label class="label_a_href" title="Перейти на страницу добавления новой периодичности">Добавить «Периодичность»</label></a>

    <table class="table">
        <tbody>
        <tr>
            <td width="30%">Наименование периодичности: <font color="red">*</font></td>
            <td><input type="text" name="name_period" maxlength="50" size="50" value="{{ model_item.name_period }}">
            </td>
        </tr>
        </tbody>
    </table>
    <p class="label_star"><i>Поля, обязательные для заполнения, отмечены <font color="red">*</font></i></p>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#warning_periodicity">Сохранить
    </button>

    <div class="modal fade" id="warning_periodicity" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Внимание!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите сохранить изменения?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Нет</button>
                    <button type="submit" class="btn btn-danger" name="save_change">Да</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}