{% extends "bases/base.html" %}

{% block title %}Аналитика по отчетам{% endblock %}
{% block name_page %}Аналитика по отчетам{% endblock name_page%}

{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#main_show">Аналитика по отчетам</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#nesvaska_show">Несвязная поддержка</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="main_show">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td><a href="/choose_analytics_reports" title="Сформировать аналитический отчет">Сформировать аналитический отчет</a></td>
              </tr>
              <tr>
                <td><a href="/show_analytics_reports" title="Список аналитических отчетов">Список аналитических отчетов</a></td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="tab-pane fade" id="nesvaska_show">
            <table class="table table-borderless">
            <tbody>
              <tr>
                <td><a href="/choose_inform_cacl" title="Сформировать информацию для расчета ставок по несвязной поддержке в области растениеводства">Сформировать информацию для расчета ставок по несвязной поддержке в области растениеводства</a></td>
              </tr>
              <tr>
                <td><a href="/show_inform_cacls" title="Список рассчитаных ставок по несвязной поддержке в области растениеводства">Список рассчитаных ставок по несвязной поддержке в области растениеводства</a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

{% endblock %}