{% extends "bases/base.html" %}

{% block title %}Список аналитических отчетов{% endblock %}
{% block name_page %}Список аналитических отчетов{% endblock name_page%}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <table class="table table-hover">
        <thead>
        <tr align="left">
            <th class="info text-center" style="vertical-align: middle;">№ отчета</th>
            <th class="info text-center" style="vertical-align: middle;">№ статьи</th>
            <th class="info text-center" style="vertical-align: middle;">Наименование отчета</th>
            <th class="info text-center" style="vertical-align: middle;">Отчетный год</th>
            <th class="info text-center" style="vertical-align: middle;">Документ</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_item %}
        <tr>
            <td width="10%" align="center" style="vertical-align: middle">{{ item.id }}</td>
            <td width="10%" align="center" style="vertical-align: middle">{{ item.f_analitics_reports.num_article }}</td>
            <td align="center" style="vertical-align: middle">{{ item.f_analitics_reports.name_analitics_reports }}</td>
            <td align="center" style="vertical-align: middle">{{ item.f_analitics_reports.report_year }}</td>
            <td align="center" style="vertical-align: middle"><a href="{{ STATIC_URL }}/media{{ item.excel_document_path }}" download="" title="Скачать файл">Скачать</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        {% if model_item.has_other_pages %}
        <ul class="navigation">
            {% if model_item.has_previous %}
            <li class="navigation"><a href="?page={{ model_item.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="navigation"><a>&laquo;</a></li>
            {% endif %}
            {% for i in model_item.paginator.page_range %}
            {% if model_item.number == i %}
            <li class="navigation"><a class="navigation {{ i }} ">{{ i }}</a></li>
            {% else %}
            <li class="navigation"><a class="navigation" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if users.has_next %}
            <li class="navigation"><a class="navigation" href="?page={{ model_item.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="navigation"><a class="navigation">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</form>

{% endblock %}