{% extends "bases/base.html" %}
{% block title %} Главная страница {% endblock %}
{% block content %}
<h4>
    <center>Добро пожаловать на сайт, обеспечивающей подачу в электронной форме заявлений на получение государственной
        поддержки субъектами агропромышленного комплекса
    </center>
</h4>
Предоставление государственных и муниципальных услуг в электронном виде позволяет получать различные услуги на одном сайте в сети Интернет в удобное время. Сайт работает 24 часа в сутки 7 дней в неделю.
<br><b>В электронной форме представлены следующие субсидии:</b><br>
<ol>
    <li>Субсидии на компенсацию части затрат на производство и реализацию молока (статья 8 Закона края).</li>
    <li>Возмещение части затрат на проведение агротехнологических работ, повышение уровня экологической безопасности сельскохозяйственного производства, а также на повышение плодородия и качества почв (статья 23 Закона края).</li>
</ol>

{% endblock %}


