{% extends "bases/base.html" %}
{% block title %}Создание заявки{% endblock %}
{% block name_page %}Создание заявки{% endblock name_page%}
{% block content %}
<form id="form_eight" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <h4>{{ selected_subsidies.f_article_law.name_article }} за {{selected_subsidies.f_report_period.f_period.name_period}} г.</h4>
    <div id="statement">
        <h4>Заявление</h4>
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td>3. В случае наличия оснований для отказа в приеме документов уведомление об отказе в приеме документов прошу (нужное отметить знаком V с указанием реквизитов):</td>
                <td>{{ form_nesvaska.three_point }}</td>
            </tr>
            <tr>
                <td>4. В случае принятия решения об отказе в предоставлении субсидии уведомление об отказе в предоставлении субсидии прошу (нужное отметить знаком V с указанием реквизитов):</td>
                <td>{{ form_nesvaska.fourth_point }}</td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success" formaction="/save_DB_nesvaska/{{ selected_subsidies.id }}/" id="save_DB_nesvaska">Создать</button>
    </div>
</form>
{% endblock %}
