{% extends "bases/base.html" %}
{% block title %}Редактирование заявки{% endblock %}
{% block name_page %}Редактирование заявки № {{ requests_obj.id }} от «{{ full_name_org }} » {% endblock name_page%}
{% block content %}
<form id="form_eight" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" name="f_status_nesvaska" value='{{ requests_obj.f_status }}' id="f_status_nesvaska">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#data_show">Информация о заявке</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#movement">"Движение" заявки</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="data_show">
            <h4>{{ requests_obj.f_subsidies.f_article_law.name_article }} за {{requests_obj.report_year_subsid}} г.</h4>
            <h4>Заявление</h4>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td width="50%">3. В случае наличия оснований для отказа в приеме документов уведомление об отказе в приеме
                        документов прошу (нужное отметить знаком V с указанием реквизитов):
                    </td>
                    <td>
                        <select style='width:100%' name="point_3" id="point_3" class="form-control">
                            {% for item in POINTS_1 %}
                            {% if requests_nsvaska.get_three_point_display == item %}
                            <option selected> {{ item }}</option>
                            {% else %}
                            <option>{{item}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>4. В случае принятия решения об отказе в предоставлении субсидии уведомление об отказе в
                        предоставлении субсидии прошу (нужное отметить знаком V с указанием реквизитов):
                    </td>
                    <td>
                        <select style='width:100%' name="point_4" id="point_4" class="form-control">
                            {% for item in POINTS_1 %}
                            {% if requests_nsvaska.get_fourth_point_display == item %}
                            <option selected> {{ item }}</option>
                            {% else %}
                            <option>{{item}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <h4>Сумма субсидии</h4>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td style="padding-bottom: 0px">
                        <label>Зерновые, зернобобовые, масличные (за исключением рапса и сои) и кормовые
                            сельскохозяйственные культуры</label>
                    </td>
                    <td>
                        <label>Овощи открытого грунта</label>
                    </td>
                    <td>
                        <label>Картофель</label>
                    </td>
                </tr>
                <tr>
                    <td width="33%" style="padding-top: 0px">
                        <input type="number" id="summ_cereals" name="summ_cereals"
                               value="{{ requests_nsvaska.sum_cereals|floatformat:2 }}" step="any" readonly="readonly"
                               style='width:100%' class="form-control">
                    </td>
                    <td width="33%" style="padding-top: 0px">
                        <input type="number" id="sum_vegetables" name="sum_vegetables"
                               value="{{ requests_nsvaska.sum_vegetables|floatformat:2 }}" step="any" readonly="readonly"
                               style='width:100%' class="form-control">
                    </td>
                    <td width="33%" style="padding-top: 0px">
                        <input type="number" id="sum_potato" name="sum_potato"
                               value="{{ requests_nsvaska.sum_potato|floatformat:2 }}" step="any" readonly="readonly"
                               style='width:100%' class="form-control">
                    </td>
                </tr>
                <tr>
                    <td width="33%">Общая сумма субсидии:</td>
                    <td width="33%">
                        <input type="number" id="total_summ" name="total_summ"
                               value="{{ requests_obj.total_summ|floatformat:2 }}" step="any" readonly="readonly"
                               style='width:100%' class="form-control">
                    </td>
                    <td>
                    </td>
                </tr>
                </tbody>
            </table>

            <h4>Файлы для загрузки</h4>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td width="25%" style="vertical-align: middle;"><a href="{{ STATIC_URL }}{{ str_path_request_pdf }}" download="" title="Скачать печатный комплект документов">Печатный комплект документов</a></td>
                </tr>
                </tbody>
            </table>
            <label style="margin-left:10px;"><font color="red"><i><sup>*</sup>Прежде, чем отправлять заявку на проверку, нажмите «Сохранить»</i></font></label><br>
            <button class="btn btn-success" formaction="/save_edit_nesvaska_request/{{requests_obj.id}}/" name="save_edit_nesvaska_request" id="save_edit_nesvaska_request">Сохранить</button>

            <button class="btn btn-success" formaction="/reformat_print_nesvaska_request/{{requests_obj.id}}/" id="reformat_print_nesvaska_request">Переформировать печатный комплект</button>
            <button class="btn btn-success" formaction="/show_request/{{requests_obj.id}}/">Перейти в основную карточку заявки</button>
        </div>
        <div class="tab-pane fade" id="movement">
            <table class="table">
                <tbody>
                <tr>
                    <td>{{ requests_obj.history_request|linebreaks }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>
{% endblock %}