{% extends "bases/base.html" %}

{% block title %}Список заявок{% endblock %}
{% block name_page %}Список заявок{% endblock name_page%}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <table class="table table-borderless">
        <tr>
            <td style="padding: 0px; padding-left:10px; padding-top: 10px;"><input type="text" placeholder="Номер заявки" name="id_request" value="{{ id_request }}" class="form-control"></td>
            <td style="padding: 0px; padding-left:10px; padding-top: 10px;"><input type="text" placeholder="ИНН организации" name="inn_org" value="{{ inn_org }}" class="form-control"></td>
            <td style="padding: 0px; padding-left:10px; padding-top: 10px;">
                <select class="form-control" name="name_article">
                    <option>Все субсидии</option>
                    {% for item in model_item_subsidies %}
                    <option>{{ item.id}} - {{ item.f_article_law.num_article }}. {{ item.f_article_law.name_article }}
                        {{ item.f_report_period.f_period.name_period }}
                        {% if item.f_report_period.year_sub != None %}
                            {{ item.f_report_period.year_sub }} г.
                        {% endif %}

                    </option>
                    {% endfor %}
                </select>
            </td>
            <td  style="padding: 0px; padding-top: 10px;">
                <button type="submit" class="btn btn-success" name="serach_requests">Найти</button>
            </td>
            <td style="padding: 0px; padding-top: 10px;">
                <button class="btn btn-success" name="clear_search">Очистить</button>
            </td>
        </tr>

        <tr>
            <td colspan="5" style="padding: 0px; padding-left:12px">Количество заявок: {{ num_records }}</td>
        </tr>
    </table>

    <table class="table table-hover">
        <thead>
        <tr align="left">
            <th class="info text-center" style="vertical-align: middle;">№ заявки</th>
            <th class="info text-center" style="vertical-align: middle;">Наименование организации</th>
            <th class="info text-center" style="vertical-align: middle;">ИНН организации</th>
            <th class="info text-center" style="vertical-align: middle;">Район регистрации</th>
            <th class="info text-center" style="vertical-align: middle;">Наименование субсидии</th>
            <th class="info text-center" style="vertical-align: middle;">Отчетный период</th>
            <th class="info text-center" style="vertical-align: middle;">Отчетный год</th>
            <th class="info text-center" style="vertical-align: middle;">Сумма субсидии</th>
            <th class="info text-center" style="vertical-align: middle;">Статус</th>
            <th class="info text-center" style="vertical-align: middle;">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model_item %}
        <tr>
            <td align="center" style="vertical-align: middle">{{ item.id }}</td>
            <td align="left" style="vertical-align: middle">{{ item.f_organization.full_name_org }}</td>
            <td align="center" style="vertical-align: middle">{{ item.f_organization.inn_org }}</td>
            <td align="center" style="vertical-align: middle">{{ item.f_organization.f_reg_area }}</td>
            <td align="left" style="vertical-align: middle">{{ item.f_subsidies.f_article_law }}</td>
            <td align="center" style="vertical-align: middle">{{ item.f_subsidies.f_report_period.f_period.name_period }}</td>
            <td align="center" style="vertical-align: middle">{{ item.year_sub }}</td>
            <td align="center" style="vertical-align: middle"><span class='price'>{{ item.total_summ }} руб.</span></td>
            {% if item.get_f_status_display == "Выплачено" %}
            <td align="center" style="background: #a6ddf5; color: #666666; vertical-align: middle;">{{ item.get_f_status_display }}</td>
            {% elif item.get_f_status_display == "Проверено ОИБ" %}
            <td align="center" style="background: #98e38d; color: #666666; vertical-align: middle;">{{ item.get_f_status_display }}</td>
            {% elif item.get_f_status_display == "Новая" %}
            <td align="center" style="background: #dddddd; color: #666666; vertical-align: middle;">{{ item.get_f_status_display }}</td>
            {% elif item.get_f_status_display == "Отправлено" %}
            <td align="center" style="background: #ffea8f; color: #666666; vertical-align: middle;">{{ item.get_f_status_display }}</td>
            {% elif item.get_f_status_display == "Проверено МО" %}
            <td align="center" style="background: #d1f0c2; color: #666666; vertical-align: middle;">{{ item.get_f_status_display }}</td>
            {% elif item.get_f_status_display == "Проверено ОТР" %}
            <td align="center" style="background: #b1e697; color: #666666; vertical-align: middle;">{{ item.get_f_status_display }}</td>
            {% elif item.get_f_status_display == "Отказано" %}
            <td align="center" style="background: #ff9980; color: #666666; vertical-align: middle;">{{ item.get_f_status_display }}</td>

            {% else %}
            <td align="center" style="vertical-align: middle">{{ item.get_f_status_display }}</td>
            {% endif %}
            <td><a href="show_request/{{item.id}}">Показать</a> | <a href="delete_request/{{item.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        {% if model_item.has_other_pages %}
        <ul class="navigation">
            {% if model_item.has_previous %}
            <li class="navigation"><a href="?page={{ model_item.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="navigation"><a>&laquo;</a></li>
            {% endif %}
            {% for i in model_item.paginator.page_range %}
            {% if model_item.number == i %}
            <li class="navigation"><a class="navigation {{ i }} ">{{ i }}</a></li>
            {% else %}
            <li class="navigation"><a class="navigation" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if users.has_next %}
            <li class="navigation"><a class="navigation" href="?page={{ model_item.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="navigation"><a class="navigation">&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>
</form>

{% endblock %}