{% extends "bases/base.html" %}
{% block title %}Просмотр заявки{% endblock %}
{% block name_page %}Просмотр заявки{% endblock name_page%}

{% block content %}
<h4>Заявка № {{ model_item.id }}: {{ model_item.f_organization.full_name_org }} (ИНН: {{ model_item.f_organization.inn_org }}) </h4>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" name="deadline_admission" value='{{ deadline_admission }}' id="deadline_admission">
    <input type="hidden" name="num_subsid" value='{{ model_item.num_subsid }}' id="num_subsid">
    <input type="hidden" name="id_subsid" value='{{ model_item.id }}' id="id_subsid">
    <input type="hidden" name="status_request" value='{{ status_request }}' id="status_request">
    <input type="hidden" name="status_action" value='{{ status_action }}' id="status_action">
    <input type="hidden" name="ability_to_send" value='{{ model_item.ability_to_send }}' id="ability_to_send">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#data_show">Информация о заявке</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#movement">"Движение" заявки</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="data_show">
            <table class="table">
                <tbody>
                <tr>
                    <td>Субсидия:</td>
                    <td>{{ model_item.f_subsidies.f_article_law.name_article }}</td>
                </tr>

                <tr>
                    <td>Отчетный период:</td>
                    <td>{{ model_item.f_subsidies.f_report_period.f_period.name_period}}</td>
                </tr>

                <tr>
                    <td>Отчетный год:</td>
                    <td>{{model_item.year_sub }}</td>
                </tr>

                 <tr>
                    <td>Статус:</td>
                    <td>{{ model_item.get_f_status_display }}</td>
                </tr>

                <tr>
                    <td>Сумма субсидии:</td>
                    <td><span class='price'>{{ model_item.total_summ }}</span></td>
                </tr>

                <tr>
                    <td>Печатный комплект документов:</td>
                    <td>
                        <a href="{{ STATIC_URL }}/media/{{ model_item.print_document_path }}" download="">Скачать</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-success" name="refactor_request">Просмотр/редактирование</button>
            <button class="send_request btn btn-success" formaction="/send_request" id="send_request">{{ status_action }}</button>
            <input type="button" class="deny-click btn btn-danger" value="Отказать" style="margin-left: 10px">

            <div class="deny-slide">
                <table class="table table-borderless" width="60%">
                    <tbody>
                        <tr>
                            <td style="padding: 0px; padding-left: 10px; padding-top: 5px;"><label><b>Причина отказа</b></label></td>
                        </tr>
                        <tr>
                            <td style="padding: 0px; padding-left: 10px;"><textarea name ="textarea_deny" class="form-control" rows="3"></textarea></td>
                        </tr>
                        <tr>
                            <td style="padding: 0px; padding-left: 1px; padding-top: 14px;"><button class="save_deny_request btn btn-success" formaction="/save_deny_request/{{ model_item.id }}/" id="/save_deny_request">Отправить</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <label id="deadline_label" style="margin-left:10px;"><font color="red">Срок приема заявок истек!</font></label>

        </div>

        <div class="tab-pane fade" id="movement">
            <table class="table">
                <tbody>
                <tr>
                    <td>{{ model_item.history_request|linebreaks }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>


{% endblock %}