{% extends "bases/base.html" %}

{% block title %}Заявки{% endblock %}
{% block name_page %}Заявки{% endblock name_page%}

{% block content %}
<table class="table table-borderless">
  <tbody>
    <tr>
      <td><a href="/select_article" title="Сформировать заявку">Сформировать заявку</a></td>
    </tr>
    <tr>
      <td><a href="/show_requests" title="Список активных заявок">Список активных заявок</a></td>
    </tr>
    <tr>
      <td><a href="/" title="Список удаленных заявок">Список удаленных заявок</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}